Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 费祎基础代码与图片
  extensions/LayingPlansWisdomPackage.lua
  image/fullskin/generals/full/ExFeiyi.png
  image/generals/card/ExFeiyi.jpg
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 费祎技能效果修正
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 语音与谏喻标记图片
  audio/skill/ExFeiyi.ogg
  audio/skill/LuaJianyu1.ogg
  audio/skill/LuaJianyu2.ogg
  audio/skill/LuaShengxi1.ogg
  audio/skill/LuaShengxi2.ogg
  extensions/LayingPlansWisdomPackage.lua
  image/mark/@LuaJianyu.png
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正【调剂盐梅】与额外目标
  extensions/ExpansionCardPackage.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 【调剂盐梅】目标合法判断微调
  extensions/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 武将名单更新
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 武将列表修正
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加费祎 (#677)
  .gitignore
  Generals.md
  audio/skill/ExFeiyi.ogg
  audio/skill/LuaJianyu1.ogg
  audio/skill/LuaJianyu2.ogg
  audio/skill/LuaShengxi1.ogg
  audio/skill/LuaShengxi2.ogg
  extensions/ExpansionCardPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  image/big-card/adjust_salt_plum.png
  image/card/adjust_salt_plum.png
  image/fullskin/generals/full/ExFeiyi.png
  image/generals/card/ExFeiyi.jpg
  image/mark/@LuaJianyu.png
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 文鸯【椎锋】失效期限修正
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 文鸯【椎锋】失效期限修正 (#678)
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 吴景基础代码
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 当前进度
  audio/skill/ExWujing.ogg
  audio/skill/LuaHeji1.ogg
  audio/skill/LuaHeji2.ogg
  image/fullskin/generals/full/ExWujing.png
  image/generals/card/ExWujing.jpg
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 微调与转换技的配合
  extensions/LayingPlansSincerityPackage.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 调整代码结构
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 【合击】使用牌合法目标判断
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加吴景 (#579)
  audio/skill/ExWujing.ogg
  audio/skill/LuaHeji1.ogg
  audio/skill/LuaHeji2.ogg
  extensions/LayingPlansSincerityPackage.lua
  image/fullskin/generals/full/ExWujing.png
  image/generals/card/ExWujing.jpg
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整斗地主模式势力选择时机
  extensions/LandlordsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整斗地主模式势力选择时机 (#679)
  extensions/LandlordsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加 OL 界华雄
  Generals.md
  audio/skill/LuaOLShizhan1.ogg
  audio/skill/LuaOLShizhan2.ogg
  audio/skill/LuaOLYaowu1.ogg
  audio/skill/LuaOLYaowu2.ogg
  audio/skill/OLJieHuaxiong.ogg
  extensions/ExpansionPackage.lua
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/OLJieHuaxiong.png
  image/generals/card/OLJieHuaxiong.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除冗余代码
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余参数
  extensions/ExpansionPackage.lua
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 暂时写死处理李丰
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正使用【决斗】显示信息
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加 OL 界华雄 (#680)
  Generals.md
  audio/skill/LuaOLShizhan1.ogg
  audio/skill/LuaOLShizhan2.ogg
  audio/skill/LuaOLYaowu1.ogg
  audio/skill/LuaOLYaowu2.ogg
  audio/skill/OLJieHuaxiong.ogg
  extensions/ExpansionPackage.lua
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/OLJieHuaxiong.png
  image/generals/card/OLJieHuaxiong.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整原界徐盛卡面、头像和语音
  audio/skill/JieXusheng.ogg
  audio/skill/LuaPojun1.ogg
  audio/skill/LuaPojun2.ogg
  image/fullskin/generals/full/JieXusheng.png
  image/generals/card/JieXusheng.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 界徐盛【万夫莫开】、【破军杀将】皮肤
  image/heroskin/audio/JieXusheng_3/death/JieXusheng.ogg
  image/heroskin/audio/JieXusheng_3/skill/LuaPojun1.ogg
  image/heroskin/audio/JieXusheng_3/skill/LuaPojun2.ogg
  image/heroskin/audio/JieXusheng_4/death/JieXusheng.ogg
  image/heroskin/audio/JieXusheng_4/skill/LuaPojun1.ogg
  image/heroskin/audio/JieXusheng_4/skill/LuaPojun2.ogg
  image/heroskin/fullskin/generals/full/JieXusheng_3.png
  image/heroskin/fullskin/generals/full/JieXusheng_4.png
  image/heroskin/generals/card/JieXusheng_3.jpg
  image/heroskin/generals/card/JieXusheng_4.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正标点符号
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 界徐盛卡面调整与新皮肤 (#681)
  audio/skill/JieXusheng.ogg
  audio/skill/LuaPojun1.ogg
  audio/skill/LuaPojun2.ogg
  image/fullskin/generals/full/JieXusheng.png
  image/generals/card/JieXusheng.jpg
  image/heroskin/audio/JieXusheng_3/death/JieXusheng.ogg
  image/heroskin/audio/JieXusheng_3/skill/LuaPojun1.ogg
  image/heroskin/audio/JieXusheng_3/skill/LuaPojun2.ogg
  image/heroskin/audio/JieXusheng_4/death/JieXusheng.ogg
  image/heroskin/audio/JieXusheng_4/skill/LuaPojun1.ogg
  image/heroskin/audio/JieXusheng_4/skill/LuaPojun2.ogg
  image/heroskin/fullskin/generals/full/JieXusheng_3.png
  image/heroskin/fullskin/generals/full/JieXusheng_4.png
  image/heroskin/generals/card/JieXusheng_3.jpg
  image/heroskin/generals/card/JieXusheng_4.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 界满宠语音卡面调整
  audio/skill/JieManchong.ogg
  audio/skill/LuaJunxing1.ogg
  audio/skill/LuaJunxing2.ogg
  audio/skill/LuaYuce1.ogg
  audio/skill/LuaYuce2.ogg
  extensions/ExpansionPackage.lua
  image/generals/card/JieManchong.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 界满宠【秉公执法】皮肤
  image/heroskin/audio/JieManchong_1/death/JieManchong.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaJunxing1.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaJunxing2.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaYuce1.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaYuce2.ogg
  image/heroskin/fullskin/generals/full/JieManchong_1.png
  image/heroskin/generals/card/JieManchong_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 界满宠卡面调整与新皮肤 (#682)
  audio/skill/JieManchong.ogg
  audio/skill/LuaJunxing1.ogg
  audio/skill/LuaJunxing2.ogg
  audio/skill/LuaYuce1.ogg
  audio/skill/LuaYuce2.ogg
  extensions/ExpansionPackage.lua
  image/generals/card/JieManchong.jpg
  image/heroskin/audio/JieManchong_1/death/JieManchong.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaJunxing1.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaJunxing2.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaYuce1.ogg
  image/heroskin/audio/JieManchong_1/skill/LuaYuce2.ogg
  image/heroskin/fullskin/generals/full/JieManchong_1.png
  image/heroskin/generals/card/JieManchong_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正 AI 不发动【峻刑】问题
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 AI 不发动【峻刑】问题 (#683)
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加孙邵
  Generals.md
  audio/skill/ExSunshao.ogg
  audio/skill/LuaDingyi1.ogg
  audio/skill/LuaDingyi2.ogg
  audio/skill/LuaFubi1.ogg
  audio/skill/LuaFubi2.ogg
  audio/skill/LuaZuici1.ogg
  audio/skill/LuaZuici2.ogg
  extensions/LayingPlansWisdomPackage.lua
  image/fullskin/generals/full/ExSunshao.png
  image/generals/card/ExSunshao.jpg
  image/mark/@LuaDingyi.png
  image/mark/@LuaFubi.png
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 修正循环变量
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 死亡后移除【定仪】效果
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余代码
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整死亡后标记
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 接管 config.lua
  .gitignore
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整缩进
  lua/QSanguoshaLuaFunction.lua
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
