Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

fix: 修正谋曹仁【解围】观看牌结果公开问题
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正谋曹仁【解围】观看牌结果公开问题 (#724)
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 迫真移出游戏
  extensions/PuyuanEquipCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 语音和图片资源
  audio/skill/ExPuyuan.ogg
  audio/skill/LuaTianjiang1.ogg
  audio/skill/LuaTianjiang2.ogg
  audio/skill/LuaZhuren1.ogg
  audio/skill/LuaZhuren2.ogg
  extensions/PuyuanEquipCardPackage.lua
  image/fullskin/generals/full/ExPuyuan.png
  image/generals/card/ExPuyuan.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 简易 AI
  extensions/PuyuanEquipCardPackage.lua
  lang/zh_CN/Package/PuyuanEquipCardPackage.lua
  lua/ai/PuyuanEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正获得武器技能 bug
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 添加潘濬【观微】修正指南
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正部分代码高亮
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 添加潘濬【观微】修正指南 (#726)
  README.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正移出游戏
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/ExpansionPackage.lua
  extensions/PuyuanEquipCardPackage.lua
  lang/zh_CN/Package/PuyuanEquipCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加重制版贾逵
  Generals.md
  audio/skill/ExTongquJiakui.ogg
  audio/skill/LuaTongqu1.ogg
  audio/skill/LuaTongqu2.ogg
  audio/skill/LuaWanlanTongqu1.ogg
  audio/skill/LuaWanlanTongqu2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExTongquJiakui.png
  image/generals/card/ExTongquJiakui.jpg
  image/mark/@LuaTongqu.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正水波剑 AI
  extensions/PuyuanEquipCardPackage.lua
  lua/ai/PuyuanEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正谋黄忠失去【烈弓】后依然可以吾虽年迈的问题
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移动蒲元到“限定-奇人异士包”
  .gitignore
  extensions/ExpansionPackage.lua
  extensions/ExtraordinaryPeoplePackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/ExtraordinaryPeoplePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/ExtraordinaryPeoplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正包信息
  extensions/ExtraordinaryPeoplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正部分缺失文本
  extensions/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加重制版贾逵 (#728)
  Generals.md
  audio/skill/ExTongquJiakui.ogg
  audio/skill/LuaTongqu1.ogg
  audio/skill/LuaTongqu2.ogg
  audio/skill/LuaWanlanTongqu1.ogg
  audio/skill/LuaWanlanTongqu2.ogg
  extensions/ExpansionPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  image/fullskin/generals/full/ExTongquJiakui.png
  image/generals/card/ExTongquJiakui.jpg
  image/mark/@LuaTongqu.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 技能描述文本修正
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 技能提示文本修正 (#729)
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 自书 nil 修正
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 几乎完全修改了boss战中的技能并添加分数
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 减少了防御技的数量和分数，增加了对直伤防御更强的防御技
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正卡牌移出游戏
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正影写变量
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 系列 bug 修正 (#731)
  extensions/ExpansionPackage.lua
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正死亡后移出游戏
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正死亡后移出游戏 (#732)
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 蒲元装备 AI 与凌人偶发 bug 修正
  extensions/PuyuanEquipCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/PuyuanEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 水波剑 AI 与冗余代码移除
  extensions/PuyuanEquipCardPackage.lua
  lua/ai/PuyuanEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 一些调整
  lang/zh_CN/Package/ShieldPackage.lua
  lua/ai/PuyuanEquipCardPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 蒲元装备 AI 与凌人偶发 bug 修正 (#733)
  extensions/PuyuanEquipCardPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/PuyuanEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 贾逵重制【挽澜】技能指向效果
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 许攸【逆转官渡】皮肤
  .gitignore
  image/heroskin/audio/ol_xuyou_2/death/ol_xuyou.ogg
  image/heroskin/audio/ol_xuyou_2/skill/chenglve1.ogg
  image/heroskin/audio/ol_xuyou_2/skill/chenglve2.ogg
  image/heroskin/audio/ol_xuyou_2/skill/cunmu1.ogg
  image/heroskin/audio/ol_xuyou_2/skill/cunmu2.ogg
  image/heroskin/audio/ol_xuyou_2/skill/ol_shicai1.ogg
  image/heroskin/audio/ol_xuyou_2/skill/ol_shicai2.ogg
  image/heroskin/fullskin/generals/full/ol_xuyou_2.png
  image/heroskin/generals/card/ol_xuyou_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 张让【权冠诸宦】皮肤
  .gitignore
  image/heroskin/audio/zhangrang_1/death/zhangrang.ogg
  image/heroskin/audio/zhangrang_1/skill/taoluan1.ogg
  image/heroskin/audio/zhangrang_1/skill/taoluan2.ogg
  image/heroskin/fullskin/generals/full/zhangrang_1.png
  image/heroskin/generals/card/zhangrang_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 星甘宁【锦帆游侠】皮肤
  .gitignore
  image/heroskin/audio/ExStarGanning_1/death/ExStarGanning.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaJinfan1.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaJinfan2.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaSheque1.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaSheque2.ogg
  image/heroskin/fullskin/generals/full/ExStarGanning_1.png
  image/heroskin/generals/card/ExStarGanning_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 杨彪【忧心国事】皮肤
  .gitignore
  image/heroskin/audio/ExYangbiao_2/death/ExYangbiao.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaRangjie1.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaRangjie2.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaYizheng1.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaYizheng2.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaZhaohan1.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaZhaohan2.ogg
  image/heroskin/fullskin/generals/full/ExYangbiao_2.png
  image/heroskin/generals/card/ExYangbiao_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加系列皮肤 (#734)
  .gitignore
  extensions/ExpansionPackage.lua
  image/heroskin/audio/ExStarGanning_1/death/ExStarGanning.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaJinfan1.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaJinfan2.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaSheque1.ogg
  image/heroskin/audio/ExStarGanning_1/skill/LuaSheque2.ogg
  image/heroskin/audio/ExYangbiao_2/death/ExYangbiao.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaRangjie1.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaRangjie2.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaYizheng1.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaYizheng2.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaZhaohan1.ogg
  image/heroskin/audio/ExYangbiao_2/skill/LuaZhaohan2.ogg
  image/heroskin/audio/ol_xuyou_2/death/ol_xuyou.ogg
  image/heroskin/audio/ol_xuyou_2/skill/chenglve1.ogg
  image/heroskin/audio/ol_xuyou_2/skill/chenglve2.ogg
  image/heroskin/audio/ol_xuyou_2/skill/cunmu1.ogg
  image/heroskin/audio/ol_xuyou_2/skill/cunmu2.ogg
  image/heroskin/audio/ol_xuyou_2/skill/ol_shicai1.ogg
  image/heroskin/audio/ol_xuyou_2/skill/ol_shicai2.ogg
  image/heroskin/audio/zhangrang_1/death/zhangrang.ogg
  image/heroskin/audio/zhangrang_1/skill/taoluan1.ogg
  image/heroskin/audio/zhangrang_1/skill/taoluan2.ogg
  image/heroskin/fullskin/generals/full/ExStarGanning_1.png
  image/heroskin/fullskin/generals/full/ExYangbiao_2.png
  image/heroskin/fullskin/generals/full/ol_xuyou_2.png
  image/heroskin/fullskin/generals/full/zhangrang_1.png
  image/heroskin/generals/card/ExStarGanning_1.jpg
  image/heroskin/generals/card/ExYangbiao_2.jpg
  image/heroskin/generals/card/ol_xuyou_2.jpg
  image/heroskin/generals/card/zhangrang_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加 OL 界赵云
  Generals.md
  audio/skill/LuaOLLongdan1.ogg
  audio/skill/LuaOLLongdan2.ogg
  audio/skill/LuaOLYajiao1.ogg
  audio/skill/LuaOLYajiao2.ogg
  audio/skill/OLJieZhaoyun.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/OLJieZhaoyun.png
  image/generals/card/OLJieZhaoyun.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 调整代码
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss
