Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加大佬酱 (#669)
  Generals.md
  extensions/GroupFriendPackage.lua
  image/fullskin/generals/full/Dalaojiang.png
  image/generals/card/Dalaojiang.jpg
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 【天佐】动态添加【奇正相生】
  extensions/LayingPlansWisdomPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 【奇正相生】与谋弈相关流程优化
  extensions/ExpansionCardPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整【奇正相生】AI 表现
  extensions/ExpansionCardPackage.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lua/ai/ExpansionCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正 AI
  lua/ai/ExpansionCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 优化代码
  extensions/ExpansionCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除冗余代码
  lua/ai/ExpansionCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 神荀彧【虎年清明】皮肤
  image/heroskin/audio/ExShenXunyu_2/death/ExShenXunyu.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaDinghan1.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaDinghan2.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaLingce1.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaLingce2.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaTianzuo1.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaTianzuo2.ogg
  image/heroskin/fullskin/generals/full/ExShenXunyu_2.png
  image/heroskin/generals/card/ExShenXunyu_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 神郭嘉【虎年清明】皮肤
  image/heroskin/audio/ExShenGuojia_2/death/ExShenGuojia.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaHuishi2.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaLimitHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaLimitHuishi2.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaTianyi1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaTianyi2.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaZuoxing1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaZuoxing2.ogg
  image/heroskin/fullskin/generals/full/ExShenGuojia_2.png
  image/heroskin/generals/card/ExShenGuojia_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整【辉逝】标记图片
  image/mark/@LuaLimitHuishi.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 一系列修正 (#670)
  extensions/ExpansionCardPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 神郭嘉、神荀彧皮肤 (#671)
  image/heroskin/audio/ExShenGuojia_2/death/ExShenGuojia.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaHuishi2.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaLimitHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaLimitHuishi2.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaTianyi1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaTianyi2.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaZuoxing1.ogg
  image/heroskin/audio/ExShenGuojia_2/skill/LuaZuoxing2.ogg
  image/heroskin/audio/ExShenXunyu_2/death/ExShenXunyu.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaDinghan1.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaDinghan2.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaLingce1.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaLingce2.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaTianzuo1.ogg
  image/heroskin/audio/ExShenXunyu_2/skill/LuaTianzuo2.ogg
  image/heroskin/fullskin/generals/full/ExShenGuojia_2.png
  image/heroskin/fullskin/generals/full/ExShenXunyu_2.png
  image/heroskin/generals/card/ExShenGuojia_2.jpg
  image/heroskin/generals/card/ExShenXunyu_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  image/mark/@LuaLimitHuishi.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 元戎精械弩与先天八卦阵
  .gitignore
  extensions/MajunEquipCardPackage.lua
  image/big-card/xiantian_eightdiagram.png
  image/big-card/yuanrong_crossbow.png
  image/card/xiantian_eightdiagram.png
  image/card/yuanrong_crossbow.png
  lang/zh_CN/Package/MajunEquipCardPackage.lua
  lua/ai/MajunEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 剩余装备
  .gitignore
  extensions/MajunEquipCardPackage.lua
  image/big-card/jingang_renwang_shield.png
  image/big-card/tongyou_vine.png
  image/big-card/zhaoyue_silver_lion.png
  image/card/jingang_renwang_shield.png
  image/card/tongyou_vine.png
  image/card/zhaoyue_silver_lion.png
  lang/zh_CN/Package/MajunEquipCardPackage.lua
  lua/ai/MajunEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: equips 小图等
  image/equips/jingang_renwang_shield.png
  image/equips/tongyou_vine.png
  image/equips/xiantian_eightdiagram.png
  image/equips/yuanrong_crossbow.png
  image/equips/zhaoyue_silver_lion.png
  image/fullskin/small-equips/jingang_renwang_shield.png
  image/fullskin/small-equips/tongyou_vine.png
  image/fullskin/small-equips/xiantian_eightdiagram.png
  image/fullskin/small-equips/yuanrong_crossbow.png
  image/fullskin/small-equips/zhaoyue_silver_lion.png
  image/small-equips/jingang_renwang_shield.png
  image/small-equips/tongyou_vine.png
  image/small-equips/xiantian_eightdiagram.png
  image/small-equips/yuanrong_crossbow.png
  image/small-equips/zhaoyue_silver_lion.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 百韧甲防止横置效果
  extensions/MajunEquipCardPackage.lua
  lang/zh_CN/Package/MajunEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 迫真精械升级
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 桐油百韧甲 AI
  lua/ai/MajunEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 文件信息
  lua/ai/MajunEquipCardPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 马钧【能工巧匠】皮肤
  image/heroskin/audio/ExMajun_2/death/ExMajun.ogg
  image/heroskin/audio/ExMajun_2/skill/LuaJingxie1.ogg
  image/heroskin/audio/ExMajun_2/skill/LuaJingxie2.ogg
  image/heroskin/audio/ExMajun_2/skill/LuaQiaosi1.ogg
  image/heroskin/audio/ExMajun_2/skill/LuaQiaosi2.ogg
  image/heroskin/fullskin/generals/full/ExMajun_2.png
  image/heroskin/generals/card/ExMajun_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 先天八卦阵模式判定
  extensions/MajunEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正先天八卦实战表现
  extensions/MajunEquipCardPackage.lua
  image/fullskin/small-equips/xiantian_eightdiagram.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整精械弩字体间距
  image/equips/yuanrong_crossbow.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 移除冗余函数
  extensions/MajunEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整神荀彧【定汉】发动时机
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整斗地主模式初始摸牌
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 优化斗地主模式选将流程
  extensions/LandlordsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 优化循环变量
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 细调斗地主流程
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 斗地主最新小型场景模板
  etc/customScenes/landlords.txt
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正斗地主初始摸牌触发武将技能问题
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正斗地主初始摸牌触发武将技能问题 (#673)
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 曹婴偶发 bug 修正
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 谋夏侯氏基础代码与图片
  extensions/StrategicAttackTogetherPackage.lua
  image/fullskin/generals/full/ExMouXiahoushi.png
  image/generals/card/ExMouXiahoushi.jpg
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lua/ai/StrategicAttackTogetherPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 谋夏侯氏语音
  audio/skill/ExMouXiahoushi.ogg
  audio/skill/LuaMouQiaoshi1.ogg
  audio/skill/LuaMouQiaoshi2.ogg
  audio/skill/LuaMouYanyu1.ogg
  audio/skill/LuaMouYanyu2.ogg
  extensions/StrategicAttackTogetherPackage.lua
  lang/zh_CN/Audio/StrategicAttackTogetherPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 移除多余引用
  lua/ai/StrategicAttackTogetherPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋夏侯氏 (#675)
  audio/skill/ExMouXiahoushi.ogg
  audio/skill/LuaMouQiaoshi1.ogg
  audio/skill/LuaMouQiaoshi2.ogg
  audio/skill/LuaMouYanyu1.ogg
  audio/skill/LuaMouYanyu2.ogg
  extensions/ExpansionPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  image/fullskin/generals/full/ExMouXiahoushi.png
  image/generals/card/ExMouXiahoushi.jpg
  lang/zh_CN/Audio/StrategicAttackTogetherPackageLines.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/StrategicAttackTogetherPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 【调剂盐梅】锦囊牌
  .gitignore
  extensions/ExpansionCardPackage.lua
  image/big-card/adjust_salt_plum.png
  image/card/adjust_salt_plum.png
  lang/zh_CN/Package/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 【谏喻】与【调剂盐梅】重铸
  extensions/ExpansionCardPackage.lua
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【调剂盐梅】对自身的判断
  extensions/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
