Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

feat: 添加新版诸葛瞻
  Generals.md
  audio/skill/ExZhugezhan.ogg
  audio/skill/LuaFuyin1.ogg
  audio/skill/LuaFuyin2.ogg
  audio/skill/LuaZuilun1.ogg
  audio/skill/LuaZuilun2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExZhugezhan.png
  image/generals/card/ExZhugezhan.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加新版诸葛瞻 (#817)
  Generals.md
  audio/skill/ExZhugezhan.ogg
  audio/skill/LuaFuyin1.ogg
  audio/skill/LuaFuyin2.ogg
  audio/skill/LuaZuilun1.ogg
  audio/skill/LuaZuilun2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExZhugezhan.png
  image/generals/card/ExZhugezhan.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 增补界卧龙诸葛语音
  audio/skill/JieWolong.ogg
  audio/skill/LuaBazhen1.ogg
  audio/skill/LuaBazhen2.ogg
  audio/skill/LuaCangzhuo1.ogg
  audio/skill/LuaCangzhuo2.ogg
  audio/skill/LuaHuoji1.ogg
  audio/skill/LuaHuoji2.ogg
  audio/skill/LuaKanpo1.ogg
  audio/skill/LuaKanpo2.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 增补界卧龙诸葛语音 (#820)
  audio/skill/JieWolong.ogg
  audio/skill/LuaBazhen1.ogg
  audio/skill/LuaBazhen2.ogg
  audio/skill/LuaCangzhuo1.ogg
  audio/skill/LuaCangzhuo2.ogg
  audio/skill/LuaHuoji1.ogg
  audio/skill/LuaHuoji2.ogg
  audio/skill/LuaKanpo1.ogg
  audio/skill/LuaKanpo2.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加 OL 张翼
  Generals.md
  audio/skill/LuaDianjun1.ogg
  audio/skill/LuaDianjun2.ogg
  audio/skill/LuaKangrui1.ogg
  audio/skill/LuaKangrui2.ogg
  audio/skill/OLZhangyi.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/OLZhangyi.png
  image/generals/card/OLZhangyi.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移动界卧龙诸葛亮到 OL 界限突破火包
  extensions/ExpansionPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加 OL 张翼 (#821)
  Generals.md
  audio/skill/LuaDianjun1.ogg
  audio/skill/LuaDianjun2.ogg
  audio/skill/LuaKangrui1.ogg
  audio/skill/LuaKangrui2.ogg
  audio/skill/OLZhangyi.ogg
  extensions/ExpansionPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  image/fullskin/generals/full/OLZhangyi.png
  image/generals/card/OLZhangyi.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加 OL 界庞统
  Generals.md
  audio/skill/LuaBazhen3.ogg
  audio/skill/LuaBazhen4.ogg
  audio/skill/LuaHuoji3.ogg
  audio/skill/LuaHuoji4.ogg
  audio/skill/LuaKanpo3.ogg
  audio/skill/LuaKanpo4.ogg
  audio/skill/LuaOLLianhuan1.ogg
  audio/skill/LuaOLLianhuan2.ogg
  audio/skill/LuaOLNiepan1.ogg
  audio/skill/LuaOLNiepan2.ogg
  audio/skill/OLJiePangtong.ogg
  extensions/OLBoundaryBreachFirePackage.lua
  image/fullskin/generals/full/OLJiePangtong.png
  image/generals/card/OLJiePangtong.jpg
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除未使用的局部变量
  extensions/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正技能卡牌显示提示名称
  extensions/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加 OL 界庞统 (#823)
  Generals.md
  audio/skill/LuaBazhen3.ogg
  audio/skill/LuaBazhen4.ogg
  audio/skill/LuaHuoji3.ogg
  audio/skill/LuaHuoji4.ogg
  audio/skill/LuaKanpo3.ogg
  audio/skill/LuaKanpo4.ogg
  audio/skill/LuaOLLianhuan1.ogg
  audio/skill/LuaOLLianhuan2.ogg
  audio/skill/LuaOLNiepan1.ogg
  audio/skill/LuaOLNiepan2.ogg
  audio/skill/OLJiePangtong.ogg
  extensions/OLBoundaryBreachFirePackage.lua
  image/fullskin/generals/full/OLJiePangtong.png
  image/generals/card/OLJiePangtong.jpg
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加傅佥
  Generals.md
  audio/skill/ExFuqian.ogg
  audio/skill/LuaJueyong1.ogg
  audio/skill/LuaJueyong2.ogg
  audio/skill/LuaPoxiang1.ogg
  audio/skill/LuaPoxiang2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExFuqian.png
  image/generals/card/ExFuqian.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正延时锦囊牌和装备相关问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除未使用的临时变量
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【合击】问题
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正锁定视为技转化卡牌问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加傅佥 (#826)
  Generals.md
  audio/skill/ExFuqian.ogg
  audio/skill/LuaJueyong1.ogg
  audio/skill/LuaJueyong2.ogg
  audio/skill/LuaPoxiang1.ogg
  audio/skill/LuaPoxiang2.ogg
  extensions/ExpansionPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  image/fullskin/generals/full/ExFuqian.png
  image/generals/card/ExFuqian.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加米糠
  Generals.md
  extensions/GroupFriendPackage.lua
  extensions/RectificationPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 追加米糠图片资源
  image/fullskin/generals/full/Mikang.png
  image/generals/card/Mikang.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正整肃响应使用不记录问题
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正斗地主模式下初始加血触发【请功】问题
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 封装额外阶段方法
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正 OL 张翼对应代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修改二技能名称
  extensions/GroupFriendPackage.lua
  extensions/RectificationPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整图片上二技能名称
  image/generals/card/Mikang.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加米糠 (#808)
  Generals.md
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LandlordsPackage.lua
  extensions/RectificationPackage.lua
  image/fullskin/generals/full/Mikang.png
  image/generals/card/Mikang.jpg
  lang/zh_CN/Package/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整阿杰技能
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除多余 AI 代码
  lua/ai/GroupFriendPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整阿杰技能 (#830)
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
  lua/ai/GroupFriendPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正司马徽【称好】问题
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正司马徽【称好】问题 (#828)
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正阿杰素来言出必践技能图标，修改成圣触发频率，修正sp仙人掌绝杀技能描述
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加神太史慈皮肤
  image/heroskin/audio/ExShenTaishici_2/death/ExShenTaishici.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaDulie1.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaDulie2.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaPowei1.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaPowei2.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaPowei3.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaShenzhu1.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaShenzhu2.ogg
  image/heroskin/fullskin/generals/full/ExShenTaishici_2.png
  image/heroskin/generals/card/ExShenTaishici_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整神著代码内名称
  audio/skill/LuaShenzhuo1.ogg
  audio/skill/LuaShenzhuo2.ogg
  extensions/LayingPlansSincerityPackage.lua
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhuo1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhuo2.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaShenzhuo1.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaShenzhuo2.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正阿杰素来言出必践技能图标，修改成圣触发频率，修正sp仙人掌绝杀技能描述 (#834)
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正神太史慈技能名称 (#833)
  audio/skill/LuaShenzhuo1.ogg
  audio/skill/LuaShenzhuo2.ogg
  extensions/LayingPlansSincerityPackage.lua
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhuo1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhuo2.ogg
  image/heroskin/audio/ExShenTaishici_2/death/ExShenTaishici.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaDulie1.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaDulie2.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaPowei1.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaPowei2.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaPowei3.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaShenzhuo1.ogg
  image/heroskin/audio/ExShenTaishici_2/skill/LuaShenzhuo2.ogg
  image/heroskin/fullskin/generals/full/ExShenTaishici_2.png
  image/heroskin/generals/card/ExShenTaishici_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整 PR 模板
  .github/pull_request_template.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整 PR 模板 (#836)
  .github/pull_request_template.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【嘉人】在取消目标后判断问题
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky
