Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 追加标记图片
  image/mark/@LuaTiansuanBest.png
  image/mark/@LuaTiansuanBetter.png
  image/mark/@LuaTiansuanNormal.png
  image/mark/@LuaTiansuanWorse.png
  image/mark/@LuaTiansuanWorst.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加周群 (#901)
  Generals.md
  audio/skill/ExZhouqun.ogg
  audio/skill/LuaTiansuan1.ogg
  audio/skill/LuaTiansuan2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExZhouqun.png
  image/generals/card/ExZhouqun.jpg
  image/mark/@LuaTiansuanBest.png
  image/mark/@LuaTiansuanBetter.png
  image/mark/@LuaTiansuanNormal.png
  image/mark/@LuaTiansuanWorse.png
  image/mark/@LuaTiansuanWorst.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 追补【决讨】限定标图片
  extensions/ExpansionPackage.lua
  image/mark/@LuaJuetaoMark.png
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 追补【决讨】限定标图片 (#904)
  extensions/ExpansionPackage.lua
  image/mark/@LuaJuetaoMark.png
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加董承
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExDongcheng.png
  image/generals/card/ExDongcheng.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 追加语音
  audio/skill/ExDongcheng.ogg
  audio/skill/LuaChengzhao1.ogg
  audio/skill/LuaChengzhao2.ogg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【承诏】结合青钢剑出杀导致的防具失效问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整发动时机为结束阶段结束时
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正 CR 提出问题
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加董承 (#905)
  Generals.md
  audio/skill/ExDongcheng.ogg
  audio/skill/LuaChengzhao1.ogg
  audio/skill/LuaChengzhao2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExDongcheng.png
  image/generals/card/ExDongcheng.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正励行导致的重复结算问题
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正整肃虚拟牌结算规则
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正励行导致的重复结算问题 (#907)
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正整肃虚拟牌结算规则 (#909)
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加蒋钦
  audio/skill/ExJiangqin.ogg
  audio/skill/LuaJianyi1.ogg
  audio/skill/LuaJianyi2.ogg
  audio/skill/LuaShangyi1.ogg
  audio/skill/LuaShangyi2.ogg
  extensions/LayingPlansStrictnessPackage.lua
  image/fullskin/generals/full/ExJiangqin.png
  image/generals/card/ExJiangqin.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 杂项修正
  extensions/LayingPlansStrictnessPackage.lua
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 CR 意见
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正尚义条件
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加蒋钦 (#910)
  audio/skill/ExJiangqin.ogg
  audio/skill/LuaJianyi1.ogg
  audio/skill/LuaJianyi2.ogg
  audio/skill/LuaShangyi1.ogg
  audio/skill/LuaShangyi2.ogg
  extensions/LayingPlansStrictnessPackage.lua
  extensions/PuyuanEquipCardPackage.lua
  image/fullskin/generals/full/ExJiangqin.png
  image/generals/card/ExJiangqin.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整“冯河”扣减体力上限在给牌之前
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 增补“凶疑”主副将变更逻辑
  extensions/GoodMatchPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修改变量名
  extensions/GoodMatchPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整“冯河”扣减体力上限在给牌之前 (#914)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 增补“凶疑”主副将变更逻辑 (#915)
  extensions/GoodMatchPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正回合内触发“大吉”无效锦囊的问题
  extensions/ImpassePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正回合内触发“大吉”无效锦囊的问题 (#917)
  extensions/ImpassePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神张飞“巡使”响应使用无色牌场景不记录的问题
  extensions/DevineForcePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神张飞“巡使”响应使用无色牌场景不记录的问题 (#921)
  extensions/DevineForcePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“躁厉”卡牌封禁问题
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正技能描述
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加鲍信
  audio/skill/ExBaoxin.ogg
  audio/skill/LuaMutao1.ogg
  audio/skill/LuaMutao2.ogg
  audio/skill/LuaYimou1.ogg
  audio/skill/LuaYimou2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExBaoxin.png
  image/generals/card/ExBaoxin.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 调整毅谋给牌逻辑
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正空城毅谋二选项、修正二选项为给出手牌
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“躁厉”卡牌封禁问题 (#923)
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正 CR 意见
  extensions/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整募讨伤害来源
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修改毅谋触发条件
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 优化毅谋选择与 AI 行为调整
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 补充指示效果
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
