Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 新增武将十周年曹嵩 (#948)
  .gitignore
  Generals.md
  audio/skill/ExTenYearCaosong.ogg
  audio/skill/LuaLilu1.ogg
  audio/skill/LuaLilu2.ogg
  audio/skill/LuaTenYearYizheng1.ogg
  audio/skill/LuaTenYearYizheng2.ogg
  extensions/GatheringHeroesXuzhouPackage.lua
  image/fullskin/generals/full/ExTenYearCaosong.png
  image/generals/card/ExTenYearCaosong.jpg
  image/mark/@LuaLiluGiveOut.png
  image/mark/@LuaTenYearYizheng.png
  lang/zh_CN/Audio/GatheringHeroesXuzhouPackageLines.lua
  lang/zh_CN/Package/GatheringHeroesXuzhouPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

ci: 移除工作流中的 LFS 支持
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

feat: 管宁基础代码与图片
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
  image/fullskin/generals/full/ExTenYearGuanning.png
  image/generals/card/ExTenYearGuanning.jpg
  lang/zh_CN/Package/GatheringHeroesFarAwayJianghuPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 追加语音
  audio/skill/ExTenYearGuanning.ogg
  audio/skill/LuaDunshi1.ogg
  audio/skill/LuaDunshi2.ogg
  lang/zh_CN/Audio/GatheringHeroesFarAwayJianghuPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 增补武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

fix: CR 意见修正、追加技能全获得后的选项判断
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整部分代码结构与注释
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加管宁 (#952)
  Generals.md
  audio/skill/ExTenYearGuanning.ogg
  audio/skill/LuaDunshi1.ogg
  audio/skill/LuaDunshi2.ogg
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
  image/fullskin/generals/full/ExTenYearGuanning.png
  image/generals/card/ExTenYearGuanning.jpg
  lang/zh_CN/Audio/GatheringHeroesFarAwayJianghuPackageLines.lua
  lang/zh_CN/Package/GatheringHeroesFarAwayJianghuPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正管宁“遁世”摸牌数量错误问题
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正管宁“遁世”摸牌数量错误问题 (#956)
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加张恭
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 张恭 AI 增补与神姜维“九伐”在循环内移除元素修正
  extensions/DevineForcePackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 张恭图片资源
  image/fullskin/generals/full/ExZhanggong.png
  image/generals/card/ExZhanggong.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 技能文本增补
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 增补武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 语音增补与游戏效果调整
  audio/skill/ExZhanggong.ogg
  audio/skill/LuaQianxin1.ogg
  audio/skill/LuaQianxin2.ogg
  audio/skill/LuaZhenxing1.ogg
  audio/skill/LuaZhenxing2.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 管宁技能库追加“遣信”
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加张恭 (#959)
  Generals.md
  audio/skill/ExZhanggong.ogg
  audio/skill/LuaQianxin1.ogg
  audio/skill/LuaQianxin2.ogg
  audio/skill/LuaZhenxing1.ogg
  audio/skill/LuaZhenxing2.ogg
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/GatheringHeroesFarAwayJianghuPackage.lua
  image/fullskin/generals/full/ExZhanggong.png
  image/generals/card/ExZhanggong.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正礼赂给牌限制
  extensions/GatheringHeroesXuzhouPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正礼赂给牌限制 (#961)
  extensions/GatheringHeroesXuzhouPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界沮授渐营花色判断条件
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界沮授渐营花色判断条件 (#964)
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“守邺”对延时锦囊牌的处理
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“守邺”对延时锦囊牌的处理 (#965)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 势太史慈“酣战”和“振锋”技能
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 势太史慈“战烈”技能与图片资源补充
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ShiTaishici.png
  image/generals/card/ShiTaishici.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 武将列表增补
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

style: 修正 Lualint 问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“战烈”判定问题 1、修正选择 +1 额外目标时未进行不限距离判断问题 2、修正弃牌后仍不可以出闪问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 标记图片增补与战烈触发提示优化
  extensions/ExpansionPackage.lua
  image/mark/@LuaZhanlieMark.png
  image/mark/@LuaZhenfeng.png
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 技能语音增补与播放逻辑调整
  audio/skill/LuaHanzhan1.ogg
  audio/skill/LuaHanzhan2.ogg
  audio/skill/LuaZhanlie1.ogg
  audio/skill/LuaZhanlie2.ogg
  audio/skill/LuaZhanlie3.ogg
  audio/skill/LuaZhenfeng1.ogg
  audio/skill/LuaZhenfeng2.ogg
  audio/skill/LuaZhenfeng3.ogg
  audio/skill/LuaZhenfeng4.ogg
  audio/skill/ShiTaishici.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 调整代码逻辑
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

style: 移除多余空格
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加新武将势太史慈 (#967)
  Generals.md
  audio/skill/LuaHanzhan1.ogg
  audio/skill/LuaHanzhan2.ogg
  audio/skill/LuaZhanlie1.ogg
  audio/skill/LuaZhanlie2.ogg
  audio/skill/LuaZhanlie3.ogg
  audio/skill/LuaZhenfeng1.ogg
  audio/skill/LuaZhenfeng2.ogg
  audio/skill/LuaZhenfeng3.ogg
  audio/skill/LuaZhenfeng4.ogg
  audio/skill/ShiTaishici.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ShiTaishici.png
  image/generals/card/ShiTaishici.jpg
  image/mark/@LuaZhanlieMark.png
  image/mark/@LuaZhenfeng.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

ci: 调整工作流权限
  .github/workflows/auto-release.yml
  .github/workflows/email-notification.yml
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整工作流运行权限、移除多余步骤
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整工作流权限 (#969)
  .github/workflows/auto-release.yml
  .github/workflows/email-notification.yml
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正势太史慈“酣战”和“战烈”部分情况下不显示技能名提示问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正势太史慈“酣战”和“战烈”部分情况下不显示技能名提示问题 (#970)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
