Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

fix: 修正静态代码检查问题
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 相关部分重构与【冲坚】修正
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正转换牌系列问题 (#628)
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 谋攻包拆分
  .gitignore
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackShacklePackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackAbilityPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackKnowledgePackageLines.lua
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lang/zh_CN/Package/StrategicAttackAbilityPackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 更新武将列表
  Generals.md
  lang/zh_CN/Audio/StrategicAttackKnowledgePackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 谋孙尚香标记选择
  extensions/StrategicAttackAbilityPackage.lua
  lang/zh_CN/Package/StrategicAttackAbilityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 谋孙尚香图片替换
  image/generals/card/ExMouSunshangxiang.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 静态代码检查问题修正
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: gitignore 始计篇通用化
  .gitignore
Owners: @DZDcyj, @Rinkosanvsky

refactor: 谋攻包拆分 (#631)
  .gitignore
  Generals.md
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackShacklePackage.lua
  image/generals/card/ExMouSunshangxiang.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackAbilityPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackKnowledgePackageLines.lua
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lang/zh_CN/Package/StrategicAttackAbilityPackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 谋于禁【节钺】调整，文件结构修正
  extensions/StrategicAttackShacklePackage.lua
  image/generals/card/ExMouYujin.jpg
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
  lua/ai/StrategicAttackAbilityPackage-ai.lua
  lua/ai/StrategicAttackShacklePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 移动【烈弓】 AI 到对应包中
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/StrategicAttackShacklePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 谋于禁【节钺】调整，文件结构修正 (#633)
  extensions/StrategicAttackShacklePackage.lua
  image/generals/card/ExMouYujin.jpg
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/StrategicAttackAbilityPackage-ai.lua
  lua/ai/StrategicAttackShacklePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整谋黄盖【诈降】结算优先级
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整谋黄盖【诈降】结算优先级 (#634)
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正斗地主手气卡问题
  extensions/LandlordsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正摸牌堆映射与牌数显示
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正斗地主手气卡问题 (#636)
  extensions/LandlordsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 绝境之战手气卡修正
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 一些标记图片追加
  .gitignore
  image/mark/@LuaPingding.png
  image/mark/@baoli.png
  image/mark/@baozou.png
  image/mark/@luashanjia.png
  image/mark/@wuku.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正谋马超【铁骑】目标中没牌可拿时结算中止问题
  extensions/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神甘宁【魄袭】多弃牌问题
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 杂项修正 (#637)
  .gitignore
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  image/mark/@LuaPingding.png
  image/mark/@baoli.png
  image/mark/@baozou.png
  image/mark/@luashanjia.png
  image/mark/@wuku.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 移除标记左下角阴影
  image/mark/@LuaPingding.png
  image/mark/@baoli.png
  image/mark/@luashanjia.png
  image/mark/@wuku.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 移除标记左下角阴影 (#638)
  image/mark/@LuaPingding.png
  image/mark/@baoli.png
  image/mark/@luashanjia.png
  image/mark/@wuku.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 始计篇-信包武将迁移
  extensions/ExpansionPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加羊祜
  Generals.md
  audio/skill/ExYanghu.ogg
  audio/skill/LuaMingfa1.ogg
  audio/skill/LuaMingfa2.ogg
  audio/skill/LuaRongbei1.ogg
  audio/skill/LuaRongbei2.ogg
  extensions/LayingPlansWisdomPackage.lua
  image/fullskin/generals/full/ExYanghu.png
  image/fullskin/generals/full/JieLingtong.png
  image/generals/card/ExYanghu.jpg
  image/mark/@LuaRongbei.png
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 修正静态代码检查问题
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正错误的对象
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 文件重命名
  extensions/LayingPlansSincerityPackage.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加羊祜 (#639)
  Generals.md
  audio/skill/ExYanghu.ogg
  audio/skill/LuaMingfa1.ogg
  audio/skill/LuaMingfa2.ogg
  audio/skill/LuaRongbei1.ogg
  audio/skill/LuaRongbei2.ogg
  extensions/ExpansionPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  image/fullskin/generals/full/ExYanghu.png
  image/fullskin/generals/full/JieLingtong.png
  image/generals/card/ExYanghu.jpg
  image/mark/@LuaRongbei.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正谋于禁【节钺】给牌 AI
  lua/ai/StrategicAttackShacklePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正谋于禁【节钺】给牌 AI (#640)
  lua/ai/StrategicAttackShacklePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 拆分始计篇-智包
  extensions/ExpansionPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: table 追加末项分隔符
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackAbilityPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackKnowledgePackageLines.lua
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
  lang/zh_CN/Package/ImpassePackage.lua
  lang/zh_CN/Package/LandlordsPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lang/zh_CN/Package/StrategicAttackAbilityPackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 功能代码部分追加
  extensions/ExpansionCardPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackShacklePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: AI 部分代码格式化
  lua/ai/GroupFriendPackage-ai.lua
  lua/ai/LandlordsPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 武将列表更新
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: AI 拆分
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/LayingPlansWisdomPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 善檄更新 AI 敌友判断
  lua/ai/LayingPlansWisdomPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky
