Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正十周年留赞【力激】不能弃置装备牌的问题 (#887)
  extensions/BraveWarriorsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正烈淬刃描述中距离不正确的问题
  lang/zh_CN/Package/PuyuanEquipCardPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

ci: 加固工作流
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

Revert "ci: 加固工作流"
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正承·关羽【冠绝】标记清除不正确的问题
  extensions/CountryAsBeforeElucidationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整 Lua Check 使用 Action
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 补充报告输出
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 要求必须输出报告
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 修正输出文件
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 查找是否有对应文件
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 查找 xml 文件
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 尝试重定义输出
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整文件位置
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整文件位置
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整位置
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 适度放宽单行长度限制到 125
  .github/workflows/lua-check.yml
  extensions/CountryAsBeforeTransitionPackage.lua
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整并放宽长度限制到 130
  .github/workflows/lua-check.yml
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整代码规范，忽略检查 extra.lua 文件的单行长度
  .github/workflows/lua-check.yml
  extensions/ExpansionCardPackage.lua
  extensions/extra.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lua/ai/BraveWarriorsPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整 pop
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 替换错误的 warning code
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 清理无用代码
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整 Lua Check 使用 Action (#894)
  .github/workflows/lua-check.yml
  extensions/CountryAsBeforeTransitionPackage.lua
  extensions/ExpansionCardPackage.lua
  extensions/ExpansionPackage.lua
  extensions/extra.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lua/ai/BraveWarriorsPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正烈淬刃描述中距离不正确的问题 (#891)
  lang/zh_CN/Package/PuyuanEquipCardPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正承·关羽【冠绝】标记清除不正确的问题 (#893)
  extensions/CountryAsBeforeElucidationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整神太史慈【破围】移动标记时机
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界夏侯惇【清俭】重复牌问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整神太史慈【破围】移动标记时机 (#897)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界夏侯惇【清俭】重复牌问题 (#899)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 基础格式调整
  extensions/GoodMatchPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 孙翊基础代码与图片
  extensions/GoodMatchPackage.lua
  image/fullskin/generals/full/ExTenYearSunyi.png
  image/generals/card/ExTenYearSunyi.jpg
  lang/zh_CN/Package/GoodMatchPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 语音体验细调
  audio/skill/ExTenYearSunyi.ogg
  audio/skill/LuaJiqiao1.ogg
  audio/skill/LuaJiqiao2.ogg
  audio/skill/LuaSunyiHunzi1.ogg
  audio/skill/LuaSunyiHunzi2.ogg
  audio/skill/LuaXiongyi1.ogg
  audio/skill/LuaXiongyi2.ogg
  audio/skill/LuaYinghun5.ogg
  audio/skill/LuaYingzi3.ogg
  extensions/ExpansionPackage.lua
  extensions/GoodMatchPackage.lua
  lang/zh_CN/Audio/GoodMatchPackageLines.lua
  lang/zh_CN/Package/GoodMatchPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 周群基础代码
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExZhouqun.png
  image/generals/card/ExZhouqun.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 更新武将名单
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加语音
  audio/skill/ExZhouqun.ogg
  audio/skill/LuaTiansuan1.ogg
  audio/skill/LuaTiansuan2.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 追加标记图片
  image/mark/@LuaXiongyi.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加孙翊 (#900)
  Generals.md
  audio/skill/ExTenYearSunyi.ogg
  audio/skill/LuaJiqiao1.ogg
  audio/skill/LuaJiqiao2.ogg
  audio/skill/LuaSunyiHunzi1.ogg
  audio/skill/LuaSunyiHunzi2.ogg
  audio/skill/LuaXiongyi1.ogg
  audio/skill/LuaXiongyi2.ogg
  audio/skill/LuaYinghun5.ogg
  audio/skill/LuaYingzi3.ogg
  extensions/ExpansionPackage.lua
  extensions/GoodMatchPackage.lua
  image/fullskin/generals/full/ExTenYearSunyi.png
  image/generals/card/ExTenYearSunyi.jpg
  image/mark/@LuaXiongyi.png
  lang/zh_CN/Audio/GoodMatchPackageLines.lua
  lang/zh_CN/Package/GoodMatchPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正签效果描述信息
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 处理死亡时标记清理
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
