Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 统一化技能特殊描述颜色设定，修正周处【除害】使命成功后造成伤害上装备问题
  .gitignore
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  lang/zh_CN/Package/ExpansionConfig.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lang/zh_CN/Package/StrategicAttackAbilityPackage.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: luacheck 设定
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加孙邵 (#685)
  .gitignore
  Generals.md
  audio/skill/ExSunshao.ogg
  audio/skill/LuaDingyi1.ogg
  audio/skill/LuaDingyi2.ogg
  audio/skill/LuaFubi1.ogg
  audio/skill/LuaFubi2.ogg
  audio/skill/LuaZuici1.ogg
  audio/skill/LuaZuici2.ogg
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  image/fullskin/generals/full/ExSunshao.png
  image/generals/card/ExSunshao.jpg
  image/mark/@LuaDingyi.png
  image/mark/@LuaFubi.png
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/ExpansionConfig.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansSincerityPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lang/zh_CN/Package/StrategicAttackAbilityPackage.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除 recover 冗余参数
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/MajunEquipCardPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加卞夫人
  Generals.md
  audio/skill/ExBianfuren.ogg
  audio/skill/LuaWanwei1.ogg
  audio/skill/LuaWanwei2.ogg
  audio/skill/LuaYuejian1.ogg
  audio/skill/LuaYuejian2.ogg
  extensions/LayingPlansWisdomPackage.lua
  image/fullskin/generals/full/ExBianfuren.png
  image/generals/card/ExBianfuren.jpg
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正性别
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加卞夫人 (#688)
  Generals.md
  audio/skill/ExBianfuren.ogg
  audio/skill/LuaWanwei1.ogg
  audio/skill/LuaWanwei2.ogg
  audio/skill/LuaYuejian1.ogg
  audio/skill/LuaYuejian2.ogg
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/MajunEquipCardPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  image/fullskin/generals/full/ExBianfuren.png
  image/generals/card/ExBianfuren.jpg
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 【兵临城下】锦囊牌
  extensions/ExpansionCardPackage.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正游戏外获得卡牌牌堆刷新问题
  extensions/LayingPlansWisdomPackage.lua
  extensions/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加荀谌
  audio/skill/ExXunchen.ogg
  audio/skill/LuaChenshi1.ogg
  audio/skill/LuaChenshi2.ogg
  audio/skill/LuaMoushi1.ogg
  audio/skill/LuaMoushi2.ogg
  audio/skill/LuaWeipo1.ogg
  audio/skill/LuaWeipo2.ogg
  extensions/LayingPlansWisdomPackage.lua
  image/fullskin/generals/full/ExXunchen.png
  image/generals/card/ExXunchen.jpg
  image/mark/@LuaMoushiClub.png
  image/mark/@LuaMoushiDiamond.png
  image/mark/@LuaMoushiHeart.png
  image/mark/@LuaMoushiSpade.png
  image/mark/@LuaWeipo.png
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 精简描述
  lang/zh_CN/Package/ExpansionCardPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 更新武将名单
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加裴秀
  Generals.md
  audio/skill/ExPeixiu.ogg
  audio/skill/LuaJuezhi1.ogg
  audio/skill/LuaJuezhi2.ogg
  audio/skill/LuaXingtu1.ogg
  audio/skill/LuaXingtu2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExPeixiu.png
  image/generals/card/ExPeixiu.jpg
  image/mark/@LuaXingtu.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加裴秀 (#691)
  Generals.md
  audio/skill/ExPeixiu.ogg
  audio/skill/LuaJuezhi1.ogg
  audio/skill/LuaJuezhi2.ogg
  audio/skill/LuaXingtu1.ogg
  audio/skill/LuaXingtu2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExPeixiu.png
  image/generals/card/ExPeixiu.jpg
  image/mark/@LuaXingtu.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正 commandType 错误问题
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加荀谌 (#690)
  Generals.md
  audio/skill/ExXunchen.ogg
  audio/skill/LuaChenshi1.ogg
  audio/skill/LuaChenshi2.ogg
  audio/skill/LuaMoushi1.ogg
  audio/skill/LuaMoushi2.ogg
  audio/skill/LuaWeipo1.ogg
  audio/skill/LuaWeipo2.ogg
  extensions/ExpansionCardPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExXunchen.png
  image/generals/card/ExXunchen.jpg
  image/mark/@LuaMoushiClub.png
  image/mark/@LuaMoushiDiamond.png
  image/mark/@LuaMoushiHeart.png
  image/mark/@LuaMoushiSpade.png
  image/mark/@LuaWeipo.png
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整从牌堆拿牌效果
  extensions/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整从牌堆拿牌效果 (#692)
  extensions/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【合计】选择【决斗】时 pattern 不正确的问题
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【合计】选择【决斗】时 pattern 不正确的问题 (#694)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整【合击】目标不能为自己
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整【合击】目标不能为自己 (#695)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加王双
  Generals.md
  audio/skill/ExWangshuang.ogg
  audio/skill/LuaShanxie1.ogg
  audio/skill/LuaShanxie2.ogg
  audio/skill/LuaYiyong1.ogg
  audio/skill/LuaYiyong2.ogg
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/ExWangshuang.png
  image/generals/card/ExWangshuang.jpg
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整卡牌封禁时机
  extensions/LayingPlansCouragePackage.lua
  extensions/StrategicAttackShacklePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 迫真 AI
  extensions/LayingPlansCouragePackage.lua
  lua/ai/LayingPlansCouragePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加王双 (#697)
  Generals.md
  audio/skill/ExWangshuang.ogg
  audio/skill/LuaShanxie1.ogg
  audio/skill/LuaShanxie2.ogg
  audio/skill/LuaYiyong1.ogg
  audio/skill/LuaYiyong2.ogg
  extensions/LayingPlansCouragePackage.lua
  extensions/StrategicAttackShacklePackage.lua
  image/fullskin/generals/full/ExWangshuang.png
  image/generals/card/ExWangshuang.jpg
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lua/ai/LayingPlansCouragePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正王双不能获取其他人装备问题
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正王双不能获取其他人装备问题 (#698)
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神太史慈【神著】多次选择二选项后新回合不能出杀问题
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余空格
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神太史慈【神著】多次选择二选项后新回合不能出杀问题 (#699)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整王双卡面
  image/generals/card/ExWangshuang.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整王双卡面 (#700)
  image/generals/card/ExWangshuang.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 【勤政】不再从弃牌堆获取牌，调整记录标记
  image/mark/@LuaQinzheng.png
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 【勤政】不再从弃牌堆获取牌，调整记录标记 (#701)
  image/mark/@LuaQinzheng.png
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正【合击】表现
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整优先级
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 优化【合击】流程
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 移除冗余变量
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 移除掉可能造成问题的卡牌限制
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
