Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

fix：修改了可用的技能
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正星甘宁部分表现
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加 OL 界赵云 (#736)
  Generals.md
  audio/skill/LuaOLLongdan1.ogg
  audio/skill/LuaOLLongdan2.ogg
  audio/skill/LuaOLYajiao1.ogg
  audio/skill/LuaOLYajiao2.ogg
  audio/skill/OLJieZhaoyun.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/OLJieZhaoyun.png
  image/generals/card/OLJieZhaoyun.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加界卧龙诸葛
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/JieWolong.png
  image/generals/card/JieWolong.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正造成伤害的牌
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查错误
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除冗余代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加界卧龙诸葛 (#740)
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/JieWolong.png
  image/generals/card/JieWolong.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 重组【限定-高山仰止包】
  .gitignore
  Generals.md
  extensions/BeholdHighMountainPackage.lua
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/BeholdHighMountainPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/BeholdHighMountainPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/ai/BeholdHighMountainPackage-ai.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 重组【限定-祈福包】
  .gitignore
  extensions/ExpansionPackage.lua
  extensions/PrayFortunePackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/PrayFortunePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/PrayFortunePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 调整武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余引用
  lua/ai/BeholdHighMountainPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正名称
  lang/zh_CN/Package/PrayFortunePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat:再次添加了一些技能
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 AI 与部分语音播放
  extensions/LayingPlansWisdomPackage.lua
  lua/ai/BeholdHighMountainPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 拆分【限定-百战虎贲包】
  .gitignore
  Generals.md
  extensions/BraveWarriorsPackage.lua
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/BraveWarriorsPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/BraveWarriorsPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除董承-十周年
  Generals.md
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 拆分【限定-锦瑟良缘包】
  .gitignore
  Generals.md
  extensions/BraveWarriorsPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GoodMatchPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/GoodMatchPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/GoodMatchPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: AI 代码转移
  lua/ai/BraveWarriorsPackage-ai.lua
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/PrayFortunePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 移除董承文件
  image/fullskin/generals/full/ExTenYearDongcheng.png
  image/generals/card/ExTenYearDongcheng.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 拆分 OL 武将包
  .gitignore
  Generals.md
  extensions/ExpansionPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  extensions/OLBoundaryBreachStandardPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
  lang/zh_CN/Audio/OLBoundaryBreachStandardPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
  lang/zh_CN/Package/OLBoundaryBreachStandardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整闯关模式技能与分数 (#744)
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除 doDamage 多余参数
  extensions/ExpansionCardPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/PuyuanEquipCardPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 武将包拆分与方法重构 (#742)
  .gitignore
  Generals.md
  extensions/BeholdHighMountainPackage.lua
  extensions/BraveWarriorsPackage.lua
  extensions/ExpansionCardPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GoodMatchPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  extensions/OLBoundaryBreachStandardPackage.lua
  extensions/PrayFortunePackage.lua
  extensions/PuyuanEquipCardPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  image/fullskin/generals/full/ExTenYearDongcheng.png
  image/generals/card/ExTenYearDongcheng.jpg
  lang/zh_CN/Audio/BeholdHighMountainPackageLines.lua
  lang/zh_CN/Audio/BraveWarriorsPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/GoodMatchPackageLines.lua
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
  lang/zh_CN/Audio/OLBoundaryBreachStandardPackageLines.lua
  lang/zh_CN/Audio/PrayFortunePackageLines.lua
  lang/zh_CN/Package/BeholdHighMountainPackage.lua
  lang/zh_CN/Package/BraveWarriorsPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/GoodMatchPackage.lua
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
  lang/zh_CN/Package/OLBoundaryBreachStandardPackage.lua
  lang/zh_CN/Package/PrayFortunePackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/BeholdHighMountainPackage-ai.lua
  lua/ai/BraveWarriorsPackage-ai.lua
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/PrayFortunePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加 OL 界李典
  audio/skill/LuaOLWangxi1.ogg
  audio/skill/LuaOLWangxi2.ogg
  audio/skill/OLJieLidian.ogg
  extensions/OLBoundaryBreachStandardPackage.lua
  image/fullskin/generals/full/OLJieLidian.png
  image/generals/card/OLJieLidian.jpg
  lang/zh_CN/Audio/OLBoundaryBreachStandardPackageLines.lua
  lang/zh_CN/Package/OLBoundaryBreachStandardPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修改血量为 3
  extensions/OLBoundaryBreachStandardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界卧龙诸葛卡面技能名称
  image/generals/card/JieWolong.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加界祝融
  Generals.md
  audio/skill/JieZhurong.ogg
  audio/skill/LuaJuxiang1.ogg
  audio/skill/LuaJuxiang2.ogg
  audio/skill/LuaLieren1.ogg
  audio/skill/LuaLieren2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/JieZhurong.png
  image/generals/card/JieZhurong.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加 OL 界李典 (#745)
  Generals.md
  audio/skill/LuaOLWangxi1.ogg
  audio/skill/LuaOLWangxi2.ogg
  audio/skill/OLJieLidian.ogg
  extensions/OLBoundaryBreachStandardPackage.lua
  image/fullskin/generals/full/OLJieLidian.png
  image/generals/card/OLJieLidian.jpg
  lang/zh_CN/Audio/OLBoundaryBreachStandardPackageLines.lua
  lang/zh_CN/Package/OLBoundaryBreachStandardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加界祝融 (#746)
  Generals.md
  audio/skill/JieZhurong.ogg
  audio/skill/LuaJuxiang1.ogg
  audio/skill/LuaJuxiang2.ogg
  audio/skill/LuaLieren1.ogg
  audio/skill/LuaLieren2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/JieZhurong.png
  image/generals/card/JieWolong.jpg
  image/generals/card/JieZhurong.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正界祝融性别与巨象 bug
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界祝融性别与巨象 bug (#747)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加整肃机制
  .gitignore
  extensions/RectificationPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整 getSuit 为 getSuitString
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查错误
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除冗余参数
  extensions/BraveWarriorsPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/StrategicAttackShacklePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加朱儁
  audio/skill/ExZhujun.ogg
  audio/skill/LuaHoufeng1.ogg
  audio/skill/LuaHoufeng2.ogg
  audio/skill/LuaHoufeng3.ogg
  audio/skill/LuaYangjie1.ogg
  audio/skill/LuaYangjie2.ogg
  audio/skill/LuaZhujunJuxiang1.ogg
  audio/skill/LuaZhujunJuxiang2.ogg
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
  image/fullskin/generals/full/ExZhujun.png
  image/generals/card/ExZhujun.jpg
  image/mark/@LuaZhujunJuxiang.png
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 移除冗余代码
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整判断整肃逻辑
  extensions/RectificationPackage.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss
