Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 始计篇-智包拆分 (#641)
  Generals.md
  extensions/ExpansionCardPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackShacklePackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
  lang/zh_CN/Audio/LayingPlansWisdomPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackAbilityPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackKnowledgePackageLines.lua
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
  lang/zh_CN/Package/ImpassePackage.lua
  lang/zh_CN/Package/LandlordsPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lang/zh_CN/Package/StrategicAttackAbilityPackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/GroupFriendPackage-ai.lua
  lua/ai/LandlordsPackage-ai.lua
  lua/ai/LayingPlansWisdomPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整界李儒【灭计】弃牌逻辑
  extensions/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整缩进
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正孙寒华【妙剑】使用次数问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整界李儒【灭计】弃牌逻辑 (#642)
  extensions/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移动文鸯到始计篇-勇包
  audio/skill/LuaChuifeng1.ogg
  audio/skill/LuaChuifeng2.ogg
  extensions/ExpansionPackage.lua
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 重命名椎锋技能代码名称
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 移动文鸯到始计篇-勇包 (#643)
  audio/skill/LuaChuifeng1.ogg
  audio/skill/LuaChuifeng2.ogg
  extensions/ExpansionPackage.lua
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正神太史慈【神著】标记处理问题
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神太史慈【神著】标记处理问题 (#645)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 宗预代码部分
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/LayingPlansCouragePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 宗预卡牌头像
  image/fullskin/generals/full/ExZongyu.png
  image/generals/card/ExZongyu.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 孙翊【厉】标记
  image/mark/@LuaZaoli.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 移除多余控制台输出
  lua/ai/LayingPlansCouragePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 移除标记左下角黑影与冗余变量
  image/mark/@LuaZaoli.png
  lua/ai/LayingPlansCouragePackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加宗预 (#646)
  Generals.md
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/ExZongyu.png
  image/generals/card/ExZongyu.jpg
  image/mark/@LuaZaoli.png
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/LayingPlansCouragePackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 移除描述多余字符
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加谋曹操
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 语音与图片资源
  audio/skill/ExMouCaocao.ogg
  audio/skill/LuaMouHujia1.ogg
  audio/skill/LuaMouHujia2.ogg
  audio/skill/LuaMouJianxiong1.ogg
  audio/skill/LuaMouJianxiong2.ogg
  audio/skill/LuaMouQingzheng1.ogg
  audio/skill/LuaMouQingzheng2.ogg
  extensions/StrategicAttackPreviewPackage.lua
  image/fullskin/generals/full/ExMouCaocao.png
  image/generals/card/ExMouCaocao.jpg
  image/mark/@LuaZhishi.png
  lang/zh_CN/Audio/StrategicAttackAbilityPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackPreviewPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正语音播放与静态代码检查问题
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整【清正】获得标记逻辑
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【护驾】结算顺序
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 部分代码格式化与武将列表更新
  Generals.md
  extensions/ExpansionPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋曹操 (#648)
  Generals.md
  audio/skill/ExMouCaocao.ogg
  audio/skill/LuaMouHujia1.ogg
  audio/skill/LuaMouHujia2.ogg
  audio/skill/LuaMouJianxiong1.ogg
  audio/skill/LuaMouJianxiong2.ogg
  audio/skill/LuaMouQingzheng1.ogg
  audio/skill/LuaMouQingzheng2.ogg
  extensions/ExpansionPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  image/fullskin/generals/full/ExMouCaocao.png
  image/generals/card/ExMouCaocao.jpg
  image/mark/@LuaZhishi.png
  lang/zh_CN/Audio/StrategicAttackAbilityPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackPreviewPackageLines.lua
  lang/zh_CN/Audio/StrategicAttackShacklePackageLines.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 文本修正
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加高览
  Generals.md
  audio/skill/ExGaolan.ogg
  audio/skill/LuaDengli1.ogg
  audio/skill/LuaDengli2.ogg
  audio/skill/LuaJungong1.ogg
  audio/skill/LuaJungong2.ogg
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/ExGaolan.png
  image/generals/card/ExGaolan.jpg
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 判断条件修正
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 谋周瑜代码部分
  extensions/StrategicAttackPreviewPackage.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/StrategicAttackPreviewPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 语音台词资源
  audio/skill/ExMouZhouyu.ogg
  audio/skill/LuaMouFanjian1.ogg
  audio/skill/LuaMouFanjian2.ogg
  audio/skill/LuaMouYingzi1.ogg
  audio/skill/LuaMouYingzi2.ogg
  image/fullskin/generals/full/ExMouZhouyu.png
  image/generals/card/ExMouZhouyu.jpg
  lang/zh_CN/Audio/StrategicAttackPreviewPackageLines.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 部分提示信息追加
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加高览 (#650)
  Generals.md
  audio/skill/ExGaolan.ogg
  audio/skill/LuaDengli1.ogg
  audio/skill/LuaDengli2.ogg
  audio/skill/LuaJungong1.ogg
  audio/skill/LuaJungong2.ogg
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/ExGaolan.png
  image/generals/card/ExGaolan.jpg
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加谋周瑜 (#652)
  Generals.md
  audio/skill/ExMouZhouyu.ogg
  audio/skill/LuaMouFanjian1.ogg
  audio/skill/LuaMouFanjian2.ogg
  audio/skill/LuaMouYingzi1.ogg
  audio/skill/LuaMouYingzi2.ogg
  extensions/StrategicAttackPreviewPackage.lua
  image/fullskin/generals/full/ExMouZhouyu.png
  image/generals/card/ExMouZhouyu.jpg
  lang/zh_CN/Audio/StrategicAttackPreviewPackageLines.lua
  lang/zh_CN/Package/StrategicAttackPreviewPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/StrategicAttackPreviewPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【反间】流程
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【反间】流程 (#653)
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正宗预【御严】失效问题
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正宗预【御严】失效问题 (#654)
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
