Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正巧思引用
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 公共方法重构 (#755)
  extensions/BeholdHighMountainPackage.lua
  extensions/BraveWarriorsPackage.lua
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/ExtraordinaryPeoplePackage.lua
  extensions/GoodMatchPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansStrictnessPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  extensions/PrayFortunePackage.lua
  extensions/PuyuanEquipCardPackage.lua
  extensions/RectificationPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  extensions/StrategicAttackShacklePackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 优化整肃成功部分
  extensions/RectificationPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除冗余变量
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 优化整肃成功部分 (#756)
  extensions/RectificationPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加吕范
  audio/skill/ExLvfan.ogg
  audio/skill/LuaDiancai1.ogg
  audio/skill/LuaDiancai2.ogg
  audio/skill/LuaDiaodu1.ogg
  audio/skill/LuaDiaodu2.ogg
  audio/skill/LuaYanji1.ogg
  audio/skill/LuaYanji2.ogg
  audio/skill/LuaYanji3.ogg
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
  image/fullskin/generals/full/ExLvfan.png
  image/generals/card/ExLvfan.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 更新武将名单
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 flags
  extensions/LayingPlansStrictnessPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加吕范 (#758)
  Generals.md
  audio/skill/ExLvfan.ogg
  audio/skill/LuaDiancai1.ogg
  audio/skill/LuaDiancai2.ogg
  audio/skill/LuaDiaodu1.ogg
  audio/skill/LuaDiaodu2.ogg
  audio/skill/LuaYanji1.ogg
  audio/skill/LuaYanji2.ogg
  audio/skill/LuaYanji3.ogg
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
  image/fullskin/generals/full/ExLvfan.png
  image/generals/card/ExLvfan.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【秉清】失效问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【秉清】失效问题 (#760)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正引用问题
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/PrayFortunePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正谋曹操【奸雄】询问移除【治世】标记条件
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 技能与引用修正 (#761)
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/PrayFortunePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加崔琰
  Generals.md
  extensions/LayingPlansStrictnessPackage.lua
  image/fullskin/generals/full/ExCuiyan.png
  image/generals/card/ExCuiyan.jpg
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 技能语音与体验修正
  audio/skill/ExCuiyan.ogg
  audio/skill/LuaYajun1.ogg
  audio/skill/LuaYajun2.ogg
  audio/skill/LuaZundi1.ogg
  audio/skill/LuaZundi2.ogg
  extensions/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正判断
  extensions/LayingPlansStrictnessPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界李典死亡台词拼写错误
  lang/zh_CN/Audio/OLBoundaryBreachStandardPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加崔琰 (#762)
  Generals.md
  audio/skill/ExCuiyan.ogg
  audio/skill/LuaYajun1.ogg
  audio/skill/LuaYajun2.ogg
  audio/skill/LuaZundi1.ogg
  audio/skill/LuaZundi2.ogg
  extensions/LayingPlansStrictnessPackage.lua
  image/fullskin/generals/full/ExCuiyan.png
  image/generals/card/ExCuiyan.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Audio/OLBoundaryBreachStandardPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正王朗 AI 文件问题
  lua/QSanguoshaLuaFunction.lua
  lua/ai/BeholdHighMountainPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 追加整肃封顶
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界卧龙【八阵】摸牌
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整皇甫嵩【势击】
  extensions/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 细节修正 (#766)
  extensions/ExpansionPackage.lua
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/BeholdHighMountainPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 文本修正
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 文本修正 (#768)
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正【涯角】展示框不消失问题
  extensions/OLBoundaryBreachStandardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【涯角】展示框不消失问题 (#770)
  extensions/OLBoundaryBreachStandardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加星黄忠
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExStarHuangzhong.png
  image/generals/card/ExStarHuangzhong.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 回滚不必要的格式化
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 转换技文本调整
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加语音
  audio/skill/ExStarHuangzhong.ogg
  audio/skill/LuaQishe1.ogg
  audio/skill/LuaQishe2.ogg
  audio/skill/LuaShidi1.ogg
  audio/skill/LuaShidi2.ogg
  audio/skill/LuaStarYishi1.ogg
  audio/skill/LuaStarYishi2.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修改了皇甫嵩、朱儁整肃相关的技能描述
  image/fullskin/generals/full/ExHuangfusong.png
  image/fullskin/generals/full/ExJiakui.png
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加星黄忠 (#772)
  Generals.md
  audio/skill/ExStarHuangzhong.ogg
  audio/skill/LuaQishe1.ogg
  audio/skill/LuaQishe2.ogg
  audio/skill/LuaShidi1.ogg
  audio/skill/LuaShidi2.ogg
  audio/skill/LuaStarYishi1.ogg
  audio/skill/LuaStarYishi2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExStarHuangzhong.png
  image/generals/card/ExStarHuangzhong.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修改了皇甫嵩、朱儁整肃相关的技能描述 (#777)
  image/fullskin/generals/full/ExHuangfusong.png
  image/fullskin/generals/full/ExJiakui.png
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整 SP 仙人掌【绝杀】技能
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正引用错误
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整 SP 仙人掌【绝杀】技能 (#780)
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加谋孙策
  Generals.md
  audio/skill/ExMouSunce.ogg
  audio/skill/LuaMouHunzi1.ogg
  audio/skill/LuaMouHunzi2.ogg
  audio/skill/LuaMouJiang1.ogg
  audio/skill/LuaMouJiang2.ogg
  audio/skill/LuaMouYingzi3.ogg
  audio/skill/LuaMouYingzi4.ogg
  audio/skill/LuaMouZhiba1.ogg
  audio/skill/LuaMouZhiba2.ogg
  audio/skill/LuaYinghun3.ogg
  audio/skill/LuaYinghun4.ogg
  extensions/ExpansionPackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  image/fullskin/generals/full/ExMouSunce.png
  image/generals/card/ExMouSunce.jpg
  lang/zh_CN/Audio/StrategicAttackTogetherPackageLines.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
