Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除冗余代码
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余变量
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【厚俸】发动频率
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正整肃执行流程
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 引入整肃机制并添加朱儁 (#751)
  .gitignore
  audio/skill/ExZhujun.ogg
  audio/skill/LuaHoufeng1.ogg
  audio/skill/LuaHoufeng2.ogg
  audio/skill/LuaHoufeng3.ogg
  audio/skill/LuaYangjie1.ogg
  audio/skill/LuaYangjie2.ogg
  audio/skill/LuaZhujunJuxiang1.ogg
  audio/skill/LuaZhujunJuxiang2.ogg
  extensions/BraveWarriorsPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansStrictnessPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/RectificationPackage.lua
  extensions/StrategicAttackShacklePackage.lua
  image/fullskin/generals/full/ExZhujun.png
  image/generals/card/ExZhujun.jpg
  image/mark/@LuaZhujunJuxiang.png
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix:修正了朱儁武将台词的问题，修改了大头小头武将皮肤的显示
  image/fullskin/generals/full/ExGaolan.png
  image/fullskin/generals/full/ExMouZhouyu.png
  image/fullskin/generals/full/ExPeixiu.png
  image/fullskin/generals/full/ExSufei.png
  image/fullskin/generals/full/ExSunyi.png
  image/fullskin/generals/full/ExWangshuang.png
  image/fullskin/generals/full/ExZhangyi.png
  image/fullskin/generals/full/ExZhujun.png
  image/fullskin/generals/full/JieLiaohua.png
  image/generals/card/ExSufei(旧).jpg
  image/generals/card/ExSufei.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix:朱儁拒降技能描述
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 再次修改张翼和界廖化的皮肤使之适应双将
  image/fullskin/generals/full/ExZhangyi.png
  image/fullskin/generals/full/JieLiaohua.png
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加苏飞皮肤
  audio/skill/ExSufei.ogg
  audio/skill/LuaGaoyuan1.ogg
  audio/skill/LuaGaoyuan2.ogg
  audio/skill/LuaZhengjian1.ogg
  audio/skill/LuaZhengjian2.ogg
  image/heroskin/audio/ExSufei_1/death/ExSufei.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaGaoyuan1.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaGaoyuan2.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaZhengjian1.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaZhengjian2.ogg
  image/heroskin/fullskin/generals/full/ExSufei_1.png
  image/heroskin/generals/card/ExSufei_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix:删除多余文件
  image/generals/card/ExSufei(旧).jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整界于禁武将图
  image/fullskin/generals/full/JieYujin.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 苏飞皮肤
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整图片和本地化文本 (#754)
  audio/skill/ExSufei.ogg
  audio/skill/LuaGaoyuan1.ogg
  audio/skill/LuaGaoyuan2.ogg
  audio/skill/LuaZhengjian1.ogg
  audio/skill/LuaZhengjian2.ogg
  image/fullskin/generals/full/ExGaolan.png
  image/fullskin/generals/full/ExMouZhouyu.png
  image/fullskin/generals/full/ExPeixiu.png
  image/fullskin/generals/full/ExSufei.png
  image/fullskin/generals/full/ExSunyi.png
  image/fullskin/generals/full/ExWangshuang.png
  image/fullskin/generals/full/ExZhangyi.png
  image/fullskin/generals/full/ExZhujun.png
  image/fullskin/generals/full/JieLiaohua.png
  image/fullskin/generals/full/JieYujin.png
  image/generals/card/ExSufei.jpg
  image/heroskin/audio/ExSufei_1/death/ExSufei.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaGaoyuan1.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaGaoyuan2.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaZhengjian1.ogg
  image/heroskin/audio/ExSufei_1/skill/LuaZhengjian2.ogg
  image/heroskin/fullskin/generals/full/ExSufei_1.png
  image/heroskin/generals/card/ExSufei_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正整肃表现
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加皇甫嵩
  Generals.md
  audio/skill/ExHuangfusong.ogg
  audio/skill/LuaShiji1.ogg
  audio/skill/LuaShiji2.ogg
  audio/skill/LuaTaoluan1.ogg
  audio/skill/LuaTaoluan2.ogg
  audio/skill/LuaZhengjun1.ogg
  audio/skill/LuaZhengjun2.ogg
  audio/skill/LuaZhengjun3.ogg
  extensions/LayingPlansStrictnessPackage.lua
  image/fullskin/generals/full/ExHuangfusong.png
  image/generals/card/ExHuangfusong.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 优化势击、整肃流程
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整【讨乱】获得牌的时机
  extensions/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正整肃流程，调整多整肃时选项
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 优化提示文本
  extensions/RectificationPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【讨乱】摸牌问题
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修改 tag 默认值
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 细调初值问题
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神郭嘉【慧识】不能正确被【讨乱】改判问题，修正嵌套判定获取牌结算
  extensions/LayingPlansStrictnessPackage.lua
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 迫真修复皇甫嵩改判问题
  extensions/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 文本修正
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 文本备注
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正【讨乱】使用【火杀】闪退问题
  extensions/LayingPlansStrictnessPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加皇甫嵩 (#753)
  Generals.md
  audio/skill/ExHuangfusong.ogg
  audio/skill/LuaShiji1.ogg
  audio/skill/LuaShiji2.ogg
  audio/skill/LuaTaoluan1.ogg
  audio/skill/LuaTaoluan2.ogg
  audio/skill/LuaZhengjun1.ogg
  audio/skill/LuaZhengjun2.ogg
  audio/skill/LuaZhengjun3.ogg
  extensions/LayingPlansStrictnessPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/RectificationPackage.lua
  image/fullskin/generals/full/ExHuangfusong.png
  image/generals/card/ExHuangfusong.jpg
  lang/zh_CN/Audio/LayingPlansStrictnessPackageLines.lua
  lang/zh_CN/Package/LayingPlansStrictnessPackage.lua
  lang/zh_CN/Package/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 往事终了基础代码
  Generals.md
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 往事终了技能调整
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 【败家】技能
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 往事终了图片
  image/fullskin/generals/full/Zhongliao.png
  image/generals/card/Zhongliao.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加往事终了 (#714)
  Generals.md
  extensions/GroupFriendPackage.lua
  image/fullskin/generals/full/Zhongliao.png
  image/generals/card/Zhongliao.jpg
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除多余 room
  extensions/BeholdHighMountainPackage.lua
  extensions/ExpansionPackage.lua
  extensions/LayingPlansSincerityPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余 SkillAnjiang
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LandlordsPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  extensions/StrategicAttackShacklePackage.lua
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 统一 globalTrigger 和 targetTrigger
  extensions/BeholdHighMountainPackage.lua
  extensions/BraveWarriorsPackage.lua
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/ExtraordinaryPeoplePackage.lua
  extensions/GoodMatchPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansStrictnessPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/PuyuanEquipCardPackage.lua
  extensions/RectificationPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  extensions/StrategicAttackShacklePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 归纳部分强武将相关公用方法
  extensions/BeholdHighMountainPackage.lua
  extensions/ExpansionPackage.lua
  extensions/GoodMatchPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/ImpassePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  extensions/PrayFortunePackage.lua
  extensions/StrategicAttackShacklePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余引用
  extensions/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移动更多方法
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
