Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

feat: 优化斗地主显示
  extensions/LandlordsPackage.lua
  lang/zh_CN/Package/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 地主技能兼容性考虑
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋于禁 (#607)
  audio/skill/ExMouYujin.ogg
  audio/skill/LuaMouJieyue1.ogg
  audio/skill/LuaMouJieyue2.ogg
  audio/skill/LuaMouXiayuan1.ogg
  audio/skill/LuaMouXiayuan2.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouYujin.png
  image/generals/card/ExMouYujin.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ShieldPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋华雄 (#609)
  .github/Generals.md
  audio/skill/ExMouHuaxiong.ogg
  audio/skill/LuaMouYangwei1.ogg
  audio/skill/LuaMouYangwei2.ogg
  audio/skill/LuaMouYaowu1.ogg
  audio/skill/LuaMouYaowu2.ogg
  extensions/LandlordsPackage.lua
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouHuaxiong.png
  image/generals/card/ExMouHuaxiong.jpg
  image/mark/@LuaWei.png
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/LandlordsPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 从 .github 中移出武将列表
  Generals.md
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 武将列表修正
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正相关文档 (#610)
  Generals.md
  README.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正有护甲状态下直接受伤害濒死的显示信息
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正有护甲状态下直接受伤害濒死的显示信息 (#614)
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋曹仁
  Generals.md
  audio/skill/ExMouCaoren.ogg
  audio/skill/LuaMouJiewei1.ogg
  audio/skill/LuaMouJiewei2.ogg
  audio/skill/LuaMouJushou1.ogg
  audio/skill/LuaMouJushou2.ogg
  audio/skill/LuaMouJushou3.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouCaoren.png
  image/generals/card/ExMouCaoren.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正选项顺序
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 谋黄盖基础
  extensions/ShieldPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 图片音频资源
  audio/skill/ExMouHuanggai.ogg
  audio/skill/LuaMouKurou1.ogg
  audio/skill/LuaMouKurou2.ogg
  audio/skill/LuaMouZhaxiang1.ogg
  audio/skill/LuaMouZhaxiang2.ogg
  image/fullskin/generals/full/ExMouHuanggai.png
  image/generals/card/ExMouHuanggai.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 使用牌次数与静态代码检查问题修正
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【覆海】在没有标记时也会弹出提示信息的问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 谋孙尚香基础
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouSunshangxiang.png
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/ai/ShieldPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 语音图片资源
  audio/skill/ExMouSunshangxiang.ogg
  audio/skill/LuaMouJieyin1.ogg
  audio/skill/LuaMouJieyin2.ogg
  audio/skill/LuaMouLiangzhu1.ogg
  audio/skill/LuaMouLiangzhu2.ogg
  audio/skill/LuaMouXiaoji1.ogg
  audio/skill/LuaMouXiaoji2.ogg
  extensions/ShieldPackage.lua
  image/generals/card/ExMouSunshangxiang.jpg
  image/mark/@LuaMouLiangzhu.png
  lang/zh_CN/Audio/ShieldPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/ShieldPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整文本
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正文本显示问题
  extensions/ShieldPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正场上可弃牌范围
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: AI 微调
  lang/zh_CN/Package/ShieldPackage.lua
  lua/ai/ShieldPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 文本严谨化
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加谋孙尚香 (#617)
  audio/skill/ExMouSunshangxiang.ogg
  audio/skill/LuaMouJieyin1.ogg
  audio/skill/LuaMouJieyin2.ogg
  audio/skill/LuaMouLiangzhu1.ogg
  audio/skill/LuaMouLiangzhu2.ogg
  audio/skill/LuaMouXiaoji1.ogg
  audio/skill/LuaMouXiaoji2.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouSunshangxiang.png
  image/generals/card/ExMouSunshangxiang.jpg
  image/mark/@LuaMouLiangzhu.png
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/ai/ShieldPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加谋黄盖 (#616)
  Generals.md
  audio/skill/ExMouHuanggai.ogg
  audio/skill/LuaMouKurou1.ogg
  audio/skill/LuaMouKurou2.ogg
  audio/skill/LuaMouZhaxiang1.ogg
  audio/skill/LuaMouZhaxiang2.ogg
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouHuanggai.png
  image/generals/card/ExMouHuanggai.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加谋曹仁 (#615)
  Generals.md
  audio/skill/ExMouCaoren.ogg
  audio/skill/LuaMouJiewei1.ogg
  audio/skill/LuaMouJiewei2.ogg
  audio/skill/LuaMouJushou1.ogg
  audio/skill/LuaMouJushou2.ogg
  audio/skill/LuaMouJushou3.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouCaoren.png
  image/generals/card/ExMouCaoren.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【谦冲】距离限制有效时间
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【谦冲】距离限制有效时间 (#619)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 代码部分
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 图片语音资源
  Generals.md
  audio/skill/ExMouXuhuang.ogg
  audio/skill/LuaMouDuanliang1.ogg
  audio/skill/LuaMouDuanliang2.ogg
  audio/skill/LuaMouDuanliang3.ogg
  audio/skill/LuaMouDuanliang4.ogg
  audio/skill/LuaMouShipo1.ogg
  audio/skill/LuaMouShipo2.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouXuhuang.png
  image/generals/card/ExMouXuhuang.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 新版周处与语音资源
  audio/skill/ExZhouchu.ogg
  audio/skill/LuaChuhai1.ogg
  audio/skill/LuaChuhai2.ogg
  audio/skill/LuaChuhai3.ogg
  audio/skill/LuaXianghai1.ogg
  audio/skill/LuaXianghai2.ogg
  audio/skill/LuaZhangming1.ogg
  audio/skill/LuaZhangming2.ogg
  extensions/ExpansionPackage.lua
  extensions/LandlordsPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 新版周处与语音资源 (#623)
  audio/skill/ExZhouchu.ogg
  audio/skill/LuaChuhai1.ogg
  audio/skill/LuaChuhai2.ogg
  audio/skill/LuaChuhai3.ogg
  audio/skill/LuaXianghai1.ogg
  audio/skill/LuaXianghai2.ogg
  audio/skill/LuaZhangming1.ogg
  audio/skill/LuaZhangming2.ogg
  extensions/ExpansionPackage.lua
  extensions/LandlordsPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加谋徐晃 (#622)
  Generals.md
  audio/skill/ExMouXuhuang.ogg
  audio/skill/LuaMouDuanliang1.ogg
  audio/skill/LuaMouDuanliang2.ogg
  audio/skill/LuaMouDuanliang3.ogg
  audio/skill/LuaMouDuanliang4.ogg
  audio/skill/LuaMouShipo1.ogg
  audio/skill/LuaMouShipo2.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouXuhuang.png
  image/generals/card/ExMouXuhuang.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加孙翊
  .gitignore
  audio/skill/ExSunyi.ogg
  audio/skill/LuaZaoli1.ogg
  audio/skill/LuaZaoli2.ogg
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/ExSunyi.png
  image/generals/card/ExSunyi.jpg
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除冗余初始值
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 部分细节修正
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 武将文档
  Generals.md
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加孙翊 (#626)
  .gitignore
  Generals.md
  audio/skill/ExSunyi.ogg
  audio/skill/LuaZaoli1.ogg
  audio/skill/LuaZaoli2.ogg
  extensions/LayingPlansCouragePackage.lua
  image/fullskin/generals/full/ExSunyi.png
  image/generals/card/ExSunyi.jpg
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 灭吴重构
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky
