Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

feat: 限定标
  image/mark/@LuaMouZhiba.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 微调 bug
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整觉醒状态
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋孙策 (#783)
  Generals.md
  audio/skill/ExMouSunce.ogg
  audio/skill/LuaMouHunzi1.ogg
  audio/skill/LuaMouHunzi2.ogg
  audio/skill/LuaMouJiang1.ogg
  audio/skill/LuaMouJiang2.ogg
  audio/skill/LuaMouYingzi3.ogg
  audio/skill/LuaMouYingzi4.ogg
  audio/skill/LuaMouZhiba1.ogg
  audio/skill/LuaMouZhiba2.ogg
  audio/skill/LuaYinghun3.ogg
  audio/skill/LuaYinghun4.ogg
  extensions/ExpansionPackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  image/fullskin/generals/full/ExMouSunce.png
  image/generals/card/ExMouSunce.jpg
  image/mark/@LuaMouZhiba.png
  lang/zh_CN/Audio/StrategicAttackTogetherPackageLines.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 增补宗预、吴景语音
  audio/skill/ExZongyu.ogg
  audio/skill/LuaLiubing1.ogg
  audio/skill/LuaLiubing2.ogg
  audio/skill/LuaYuyan1.ogg
  audio/skill/LuaYuyan2.ogg
  audio/skill/LuaZhibian1.ogg
  audio/skill/LuaZhibian2.ogg
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 追加增加卡牌【奇正相生】【调剂盐梅】【兵临城下】语音、增补【兵临城下】卡牌图片
  .gitignore
  audio/card/female/adjust_salt_plum.ogg
  audio/card/female/city_under_siege.ogg
  audio/card/female/indirect_combination.ogg
  audio/card/male/adjust_salt_plum.ogg
  audio/card/male/city_under_siege.ogg
  audio/card/male/indirect_combination.ogg
  image/big-card/city_under_siege.png
  image/card/city_under_siege.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 增补语音资源 (#785)
  .gitignore
  audio/card/female/adjust_salt_plum.ogg
  audio/card/female/city_under_siege.ogg
  audio/card/female/indirect_combination.ogg
  audio/card/male/adjust_salt_plum.ogg
  audio/card/male/city_under_siege.ogg
  audio/card/male/indirect_combination.ogg
  audio/skill/ExZongyu.ogg
  audio/skill/LuaLiubing1.ogg
  audio/skill/LuaLiubing2.ogg
  audio/skill/LuaYuyan1.ogg
  audio/skill/LuaYuyan2.ogg
  audio/skill/LuaZhibian1.ogg
  audio/skill/LuaZhibian2.ogg
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  image/big-card/city_under_siege.png
  image/card/city_under_siege.png
  lang/zh_CN/Audio/LayingPlansCouragePackageLines.lua
  lang/zh_CN/Audio/LayingPlansSincerityPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 谋张飞【咆哮】
  Generals.md
  extensions/StrategicAttackTogetherPackage.lua
  image/fullskin/generals/full/ExMouZhangfei.png
  image/generals/card/ExMouZhangfei.jpg
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 微调
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加语音资源
  audio/skill/ExMouZhangfei.ogg
  audio/skill/LuaPaoxiao1.ogg
  audio/skill/LuaPaoxiao2.ogg
  lang/zh_CN/Audio/StrategicAttackTogetherPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 修正拼写错误
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 引入协力机制
  .gitignore
  audio/skill/LuaXieji1.ogg
  audio/skill/LuaXieji2.ogg
  audio/skill/LuaXieji3.ogg
  extensions/RectificationPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  extensions/UniteEffortsPackage.lua
  lang/zh_CN/Audio/StrategicAttackTogetherPackageLines.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lang/zh_CN/Package/UniteEffortsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 优化协击出杀
  extensions/StrategicAttackTogetherPackage.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正多重协力处理
  extensions/StrategicAttackTogetherPackage.lua
  extensions/UniteEffortsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 引入协力机制并添加谋张飞 (#781)
  .gitignore
  Generals.md
  audio/skill/ExMouZhangfei.ogg
  audio/skill/LuaPaoxiao1.ogg
  audio/skill/LuaPaoxiao2.ogg
  audio/skill/LuaXieji1.ogg
  audio/skill/LuaXieji2.ogg
  audio/skill/LuaXieji3.ogg
  extensions/LayingPlansStrictnessPackage.lua
  extensions/RectificationPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
  extensions/UniteEffortsPackage.lua
  image/fullskin/generals/full/ExMouZhangfei.png
  image/generals/card/ExMouZhangfei.jpg
  lang/zh_CN/Audio/StrategicAttackTogetherPackageLines.lua
  lang/zh_CN/Package/StrategicAttackTogetherPackage.lua
  lang/zh_CN/Package/UniteEffortsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【烈弓】显示问题
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【烈弓】显示问题 (#788)
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【巨象】【祸首】非锁定技失效问题
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【巨象】【祸首】非锁定技失效问题 (#791)
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 纳管 extra.lua
  .gitignore
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 整理重复/多余技能描述和台词
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正 README.md 关于 extra.lua 部分
  README.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正一些未声明的变量引用问题
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正部分静态代码检查问题
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正部分静态代码检查问题
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整台词行长度
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整台词长度
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整引号
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 纳管 extra.lua (#794)
  .gitignore
  README.md
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 星魏延基础代码
  Generals.md
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【骜肆】攻击距离判断
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 星魏延图片资源
  image/fullskin/generals/full/ExStarWeiyan.png
  image/generals/card/ExStarWeiyan.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 星魏延语音
  audio/skill/ExStarWeiyan.ogg
  audio/skill/LuaAosi1.ogg
  audio/skill/LuaAosi2.ogg
  audio/skill/LuaGuli1.ogg
  audio/skill/LuaGuli2.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 借助雄乱标记实现
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正死亡后发动骜肆问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正距离限制
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加星魏延 (#792)
  Generals.md
  audio/skill/ExStarWeiyan.ogg
  audio/skill/LuaAosi1.ogg
  audio/skill/LuaAosi2.ogg
  audio/skill/LuaGuli1.ogg
  audio/skill/LuaGuli2.ogg
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  extensions/extra.lua
  image/fullskin/generals/full/ExStarWeiyan.png
  image/generals/card/ExStarWeiyan.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正谋孙策【激昂】多目标摸牌问题
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查错误
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky
