Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【笃烈】相同问题
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正取消目标技能重复判定问题 (#838)
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 更新 Readme.md
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 调整排版
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 更新 Readme (#839)
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 追加补充说明
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 更详细的说明
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 在 config 里添加注释说明
  README.md
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 调整排版
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 追加补充说明 (#840)
  README.md
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加 OL 界典韦
  Generals.md
  extensions/OLBoundaryBreachFirePackage.lua
  image/fullskin/generals/full/OLJieDianwei.png
  image/generals/card/OLJieDianwei.jpg
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加语音资源
  audio/skill/LuaOLNinge1.ogg
  audio/skill/LuaOLNinge2.ogg
  audio/skill/LuaOLQiangxi1.ogg
  audio/skill/LuaOLQiangxi2.ogg
  audio/skill/OLJieDianwei.ogg
  extensions/OLBoundaryBreachFirePackage.lua
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整神孙策【冯河】语音时机
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加 OL 界典韦 (#843)
  Generals.md
  audio/skill/LuaOLNinge1.ogg
  audio/skill/LuaOLNinge2.ogg
  audio/skill/LuaOLQiangxi1.ogg
  audio/skill/LuaOLQiangxi2.ogg
  audio/skill/OLJieDianwei.ogg
  extensions/LayingPlansSincerityPackage.lua
  extensions/OLBoundaryBreachFirePackage.lua
  image/fullskin/generals/full/OLJieDianwei.png
  image/generals/card/OLJieDianwei.jpg
  lang/zh_CN/Audio/OLBoundaryBreachFirePackageLines.lua
  lang/zh_CN/Package/OLBoundaryBreachFirePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加杨仪
  Generals.md
  audio/skill/ExYangyi.ogg
  audio/skill/LuaDuoduan1.ogg
  audio/skill/LuaDuoduan2.ogg
  audio/skill/LuaGongsun1.ogg
  audio/skill/LuaGongsun2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExYangyi.png
  image/generals/card/ExYangyi.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 拆分手杀-界一将成名 2013 武将包
  .gitignore
  Generals.md
  extensions/ExpansionPackage.lua
  extensions/MobileJieYJCM2013Package.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/MobileJieYJCM2013PackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/MobileJieYJCM2013Package.lua
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/MobileJieYJCM2013Package-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正界李儒语音并拆分皮肤
  audio/skill/JieLiru.ogg
  audio/skill/LuaFencheng1.ogg
  audio/skill/LuaFencheng2.ogg
  audio/skill/LuaJuece1.ogg
  audio/skill/LuaJuece2.ogg
  audio/skill/LuaMieji1.ogg
  audio/skill/LuaMieji2.ogg
  image/generals/card/JieLiru.jpg
  image/heroskin/audio/JieLiru_1/death/JieLiru.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaFencheng1.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaFencheng2.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaJuece1.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaJuece2.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaMieji1.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaMieji2.ogg
  image/heroskin/fullskin/generals/full/JieLiru_1.png
  image/heroskin/generals/card/JieLiru_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/MobileJieYJCM2013PackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 拆分手杀-界一将成名 2013 武将包 (#846)
  .gitignore
  Generals.md
  audio/skill/JieLiru.ogg
  audio/skill/LuaFencheng1.ogg
  audio/skill/LuaFencheng2.ogg
  audio/skill/LuaJuece1.ogg
  audio/skill/LuaJuece2.ogg
  audio/skill/LuaMieji1.ogg
  audio/skill/LuaMieji2.ogg
  extensions/ExpansionPackage.lua
  extensions/MobileJieYJCM2013Package.lua
  image/generals/card/JieLiru.jpg
  image/heroskin/audio/JieLiru_1/death/JieLiru.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaFencheng1.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaFencheng2.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaJuece1.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaJuece2.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaMieji1.ogg
  image/heroskin/audio/JieLiru_1/skill/LuaMieji2.ogg
  image/heroskin/fullskin/generals/full/JieLiru_1.png
  image/heroskin/generals/card/JieLiru_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Audio/MobileJieYJCM2013PackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/MobileJieYJCM2013Package.lua
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/MobileJieYJCM2013Package-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加杨仪 (#845)
  Generals.md
  audio/skill/ExYangyi.ogg
  audio/skill/LuaDuoduan1.ogg
  audio/skill/LuaDuoduan2.ogg
  audio/skill/LuaGongsun1.ogg
  audio/skill/LuaGongsun2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExYangyi.png
  image/generals/card/ExYangyi.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整【共损】提示文本
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正斗地主模式初始调整血量时触发技能问题
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 封装对应方法
  extensions/LandlordsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 斗地主 Bug 与技能提示文本修正 (#849)
  extensions/LandlordsPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加马元义
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExMayuanyi.png
  image/generals/card/ExMayuanyi.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加语音资源
  audio/skill/ExMayuanyi.ogg
  audio/skill/LuaBinghuo1.ogg
  audio/skill/LuaBinghuo2.ogg
  audio/skill/LuaJibing1.ogg
  audio/skill/LuaJibing2.ogg
  audio/skill/LuaMoucuan1.ogg
  audio/skill/LuaMoucuan2.ogg
  audio/skill/LuaWangjing1.ogg
  audio/skill/LuaWangjing2.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 添加觉醒时技能文字提示
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 优化【往京】重复代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加马元义 (#850)
  Generals.md
  audio/skill/ExMayuanyi.ogg
  audio/skill/LuaBinghuo1.ogg
  audio/skill/LuaBinghuo2.ogg
  audio/skill/LuaJibing1.ogg
  audio/skill/LuaJibing2.ogg
  audio/skill/LuaMoucuan1.ogg
  audio/skill/LuaMoucuan2.ogg
  audio/skill/LuaWangjing1.ogg
  audio/skill/LuaWangjing2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExMayuanyi.png
  image/generals/card/ExMayuanyi.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 重组江山如故系列武将包
  .gitignore
  extensions/CountryAsBeforeElucidationPackage.lua
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/CountryAsBeforeElucidationPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 格式化代码
  extensions/CountryAsBeforeElucidationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 重组江山如故系列武将包 (#853)
  .gitignore
  extensions/CountryAsBeforeElucidationPackage.lua
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/CountryAsBeforeElucidationPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加起·刘备
  Generals.md
  extensions/CountryAsBeforeIntroductionPackage.lua
  image/fullskin/generals/full/ExQiLiubei.png
  image/generals/card/ExQiLiubei.jpg
  image/mark/@LuaJishan.png
  lang/zh_CN/Package/CountryAsBeforeIntroductionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加起·刘备 (#854)
  Generals.md
  extensions/CountryAsBeforeIntroductionPackage.lua
  image/fullskin/generals/full/ExQiLiubei.png
  image/generals/card/ExQiLiubei.jpg
  image/mark/@LuaJishan.png
  lang/zh_CN/Package/CountryAsBeforeIntroductionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整砂糖【支援】技能为准备阶段发动
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整砂糖【支援】技能为准备阶段发动 (#858)
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正斗地主角色当前【回合开始时】技能未触发问题
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正额外触发回合问题
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 触发范围判断修正
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 写死可触发技能
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
