Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

fix: 修正【合击】选择目标后不能对非目标出牌问题
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

ci: Draft PR 不再触发邮件通知流程
  .github/workflows/email-notification.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整触发时机
  .github/workflows/email-notification.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: Draft PR 不再触发邮件通知流程 (#703)
  .github/workflows/email-notification.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整技能卡显示信息
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  extensions/StrategicAttackShacklePackage.lua
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修改不正确的参数
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackShacklePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整技能卡显示信息 (#705)
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  extensions/StrategicAttackAbilityPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  extensions/StrategicAttackPreviewPackage.lua
  extensions/StrategicAttackShacklePackage.lua
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【合击】表现 (#702)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正斗地主势力选择
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整从游戏外或牌堆获取牌流程
  extensions/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整流程，增加初始座次通报
  extensions/LandlordsPackage.lua
  lang/zh_CN/Package/ExpansionConfig.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 系列修正 (#706)
  extensions/LandlordsPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  lang/zh_CN/Package/ExpansionConfig.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正护甲导致的闪退问题
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正护甲导致的闪退问题 (#707)
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 谋徐晃技能调整更新
  extensions/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 赋予初始值
  extensions/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 谋曹仁初始添加一护甲
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【势迫】多目标不询问问题
  extensions/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正卞夫人【挽危】使用次数
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 文字效果调整
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 谋攻篇调整 (#708)
  extensions/LayingPlansWisdomPackage.lua
  extensions/ShieldPackage.lua
  extensions/StrategicAttackKnowledgePackage.lua
  lang/zh_CN/Package/StrategicAttackKnowledgePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【合击】距离限制
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【合击】距离限制 (#710)
  extensions/LayingPlansSincerityPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正获取牌
  extensions/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正获取牌 (#711)
  extensions/LayingPlansWisdomPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正谋曹操【奸雄】无标记依然询问是否移除问题
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正谋曹操【奸雄】无标记依然询问是否移除问题 (#712)
  extensions/StrategicAttackPreviewPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整星徐晃【治严】AI
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整星徐晃【治严】AI (#713)
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 曹嵩基础代码
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExCaosong.png
  image/generals/card/ExCaosong.jpg
  image/mark/@LuaYijin1.png
  image/mark/@LuaYijin2.png
  image/mark/@LuaYijin3.png
  image/mark/@LuaYijin4.png
  image/mark/@LuaYijin5.png
  image/mark/@LuaYijin6.png
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat:添加手杀界公孙瓒，顺便改曹昂皮肤
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/JieGongsunzan.png
  image/generals/card/JieGongsunzan.jpg
  image/heroskin/generals/card/caoang_1.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加语音
  audio/skill/ExCaosong.ogg
  audio/skill/LuaGuanzong1.ogg
  audio/skill/LuaGuanzong2.ogg
  audio/skill/LuaYijin1.ogg
  audio/skill/LuaYijin2.ogg
  audio/skill/LuaYijin3.ogg
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 格式化
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 细节调整
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix:统一代码格式
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加手杀界公孙瓒，顺便改曹昂皮肤 (#717)
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/JieGongsunzan.png
  image/generals/card/JieGongsunzan.jpg
  image/heroskin/generals/card/caoang_1.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 细调【惯纵】触发流程
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 迫真叫地主环节
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整地主农民选将数
  extensions/LandlordsPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky
