Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

fix: 修正手气卡越摸越多的问题
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【玄剑】不能响应要求使用【杀】场景问题 (#1007)
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“侠行”被重复获取【玄剑】问题 (#1006)
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 完善获取【玄剑】时判断卡牌位置条件
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 私家牌堆判断
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 完善“侠行”获取【玄剑】时卡牌位置条件判断 (#1009)
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 增加判断是否可以“共砺”的公共方法接口
  extensions/GongliCommonMethod.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 增加判断是否可以“共砺”的公共方法接口 (#1011)
  extensions/GongliCommonMethod.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整侠行获取【玄剑】逻辑，移除原有结构体中玄剑的卡牌 id，避免重复弃置
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整侠行获取【玄剑】逻辑，移除原有结构体中玄剑的卡牌 id，避免重复弃置 (#1014)
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加新武将势魏延
  .gitignore
  Generals.md
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
  image/fullskin/generals/full/ShiWeiyan.png
  image/generals/card/ShiWeiyan.jpg
  lang/zh_CN/Package/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正静态代码检查问题
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 变量修正
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 崩溃修正
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
  lang/zh_CN/Package/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正“饮战”向死亡角色弃牌导致的崩溃
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 优化狂骨背水弃牌
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 技能提示文本调整
  lang/zh_CN/Package/MilitaryPowerPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正伤害传导判断
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 弃牌判断
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加语音
  audio/skill/LuaShiKuanggu1.ogg
  audio/skill/LuaShiKuanggu2.ogg
  audio/skill/LuaShiKuanggu3.ogg
  audio/skill/LuaShiKuanggu4.ogg
  audio/skill/LuaShiKuanggu5.ogg
  audio/skill/LuaShiKuanggu6.ogg
  audio/skill/LuaShiKuanggu7.ogg
  audio/skill/LuaShiKuanggu8.ogg
  audio/skill/LuaShiKunfen1.ogg
  audio/skill/LuaShiKunfen2.ogg
  audio/skill/LuaShiYinzhan1.ogg
  audio/skill/LuaShiYinzhan2.ogg
  audio/skill/LuaShiYinzhan3.ogg
  audio/skill/LuaShiYinzhan4.ogg
  audio/skill/LuaShiYinzhan5.ogg
  audio/skill/LuaShiYinzhan6.ogg
  audio/skill/LuaShiYinzhan7.ogg
  audio/skill/LuaShiYinzhan8.ogg
  audio/skill/LuaShiYinzhan9.ogg
  audio/skill/LuaShiZhongao1.ogg
  audio/skill/LuaShiZhongao2.ogg
  audio/skill/LuaShiZhongao3.ogg
  audio/skill/LuaShiZhongao4.ogg
  audio/skill/LuaShiZhongao5.ogg
  audio/skill/LuaShiZhuangshi1.ogg
  audio/skill/LuaShiZhuangshi2.ogg
  audio/skill/LuaShiZhuangshi3.ogg
  audio/skill/LuaShiZhuangshi4.ogg
  audio/skill/ShiWeiyan.ogg
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
  lang/zh_CN/Audio/MilitaryPowerPackageLines.lua
  lang/zh_CN/Package/MilitaryPowerPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正 MR 模板
  .github/pull_request_template.md
Owners: @DZDcyj, @Rinkosanvsky

style: 追加空行
  lang/zh_CN/Audio/MilitaryPowerPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正用牌限制
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正标记有效时间
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正狂骨出杀
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正 MR 模板 (#1019)
  .github/pull_request_template.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正更多杀的 pattern
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加新武将势魏延 (#1017)
  .gitignore
  Generals.md
  audio/skill/LuaShiKuanggu1.ogg
  audio/skill/LuaShiKuanggu2.ogg
  audio/skill/LuaShiKuanggu3.ogg
  audio/skill/LuaShiKuanggu4.ogg
  audio/skill/LuaShiKuanggu5.ogg
  audio/skill/LuaShiKuanggu6.ogg
  audio/skill/LuaShiKuanggu7.ogg
  audio/skill/LuaShiKuanggu8.ogg
  audio/skill/LuaShiKunfen1.ogg
  audio/skill/LuaShiKunfen2.ogg
  audio/skill/LuaShiYinzhan1.ogg
  audio/skill/LuaShiYinzhan2.ogg
  audio/skill/LuaShiYinzhan3.ogg
  audio/skill/LuaShiYinzhan4.ogg
  audio/skill/LuaShiYinzhan5.ogg
  audio/skill/LuaShiYinzhan6.ogg
  audio/skill/LuaShiYinzhan7.ogg
  audio/skill/LuaShiYinzhan8.ogg
  audio/skill/LuaShiYinzhan9.ogg
  audio/skill/LuaShiZhongao1.ogg
  audio/skill/LuaShiZhongao2.ogg
  audio/skill/LuaShiZhongao3.ogg
  audio/skill/LuaShiZhongao4.ogg
  audio/skill/LuaShiZhongao5.ogg
  audio/skill/LuaShiZhuangshi1.ogg
  audio/skill/LuaShiZhuangshi2.ogg
  audio/skill/LuaShiZhuangshi3.ogg
  audio/skill/LuaShiZhuangshi4.ogg
  audio/skill/ShiWeiyan.ogg
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
  image/fullskin/generals/full/ShiWeiyan.png
  image/generals/card/ShiWeiyan.jpg
  lang/zh_CN/Audio/MilitaryPowerPackageLines.lua
  lang/zh_CN/Package/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正势魏延“狂骨”背水选项触发条件
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正势魏延“狂骨”背水选项触发条件 (#1023)
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“壮誓”持续时间异常问题
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

chores: 调整 config.lua 缩进
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正不同标记处理
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正“壮誓”持续时间异常问题 (#1024)
  extensions/CommonSkillPackage.lua
  extensions/MilitaryPowerPackage.lua
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 迁移 GitHub 工作流到 softprops/action-gh-release (#1026)
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正壮誓错误的技能判断对象
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正打印信息和响应问题
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 规避借刀出杀不能出闪的问题
  extensions/CommonSkillPackage.lua
Owners: @DZDcyj, @Rinkosanvsky
