Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 增加仙人掌负责部分
  .github/PULL_REQUEST_HELP.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正相关文档 (#590)
  .github/Generals.md
  .github/PULL_REQUEST_HELP.md
  README.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【奇正相生】结算问题
  extensions/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【奇正相生】结算问题 (#592)
  extensions/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正禁用包判断方法
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正判断对应武将/卡牌包是否被 ban 的判断标准 (#588)
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正双雄 AI 从 mark 到 flag
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 微调 AI 颜色选择
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【双雄】AI (#593)
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【凌人】偶发中断 bug
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【凌人】偶发中断 bug (#594)
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【亡命】中伤害结构体
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【亡命】中伤害结构体 (#595)
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【狼袭】AI 选人逻辑
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【狼袭】AI 选人逻辑 (#596)
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加曹金玉
  audio/skill/ExTenYearCaojinyu.ogg
  audio/skill/LuaShanshen1.ogg
  audio/skill/LuaShanshen2.ogg
  audio/skill/LuaXianjing1.ogg
  audio/skill/LuaXianjing2.ogg
  audio/skill/LuaYuqi1.ogg
  audio/skill/LuaYuqi2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExTenYearCaojinyu.png
  image/generals/card/ExTenYearCaojinyu.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 武将列表追加
  .github/Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加孙寒华
  .github/Generals.md
  audio/skill/ExSunhanhua.ogg
  audio/skill/LuaChongxu1.ogg
  audio/skill/LuaChongxu2.ogg
  audio/skill/LuaLianhua1.ogg
  audio/skill/LuaLianhua2.ogg
  audio/skill/LuaMiaojian1.ogg
  audio/skill/LuaMiaojian2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExSunhanhua.png
  image/generals/card/ExSunhanhua.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 实验性护甲系统
  extensions/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 doNotify 的 json 问题
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 迫真音效图像
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 属性伤害动画
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正连锁状态下属性伤害杀死角色闪退问题
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 护甲图标
  .gitignore
  image/mark/@shield.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加谋吕蒙
  .github/Generals.md
  .gitignore
  audio/skill/ExMouLvmeng.ogg
  audio/skill/LuaMouDujiang1.ogg
  audio/skill/LuaMouDujiang2.ogg
  audio/skill/LuaMouDuojing1.ogg
  audio/skill/LuaMouDuojing2.ogg
  audio/skill/LuaMouKeji1.ogg
  audio/skill/LuaMouKeji2.ogg
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouLvmeng.png
  image/generals/card/ExMouLvmeng.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 标记清除与语音错别字修正
  extensions/ShieldPackage.lua
  lang/zh_CN/Audio/ShieldPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 夺荆画线显示
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正无视防具问题
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正夺荆效力为当前阶段
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 谋攻包引入 (#603)
  .github/Generals.md
  .gitignore
  audio/skill/ExMouLvmeng.ogg
  audio/skill/LuaMouDujiang1.ogg
  audio/skill/LuaMouDujiang2.ogg
  audio/skill/LuaMouDuojing1.ogg
  audio/skill/LuaMouDuojing2.ogg
  audio/skill/LuaMouKeji1.ogg
  audio/skill/LuaMouKeji2.ogg
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouLvmeng.png
  image/generals/card/ExMouLvmeng.jpg
  image/mark/@shield.png
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正【椎锋】可选目标
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【椎锋】可选目标 (#605)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋于禁
  audio/skill/ExMouYujin.ogg
  audio/skill/LuaMouJieyue1.ogg
  audio/skill/LuaMouJieyue2.ogg
  audio/skill/LuaMouXiayuan1.ogg
  audio/skill/LuaMouXiayuan2.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouYujin.png
  image/generals/card/ExMouYujin.jpg
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ShieldPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 修改变量名称
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加曹金玉-十周年 (#598)
  .github/Generals.md
  audio/skill/ExTenYearCaojinyu.ogg
  audio/skill/LuaShanshen1.ogg
  audio/skill/LuaShanshen2.ogg
  audio/skill/LuaXianjing1.ogg
  audio/skill/LuaXianjing2.ogg
  audio/skill/LuaYuqi1.ogg
  audio/skill/LuaYuqi2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExTenYearCaojinyu.png
  image/generals/card/ExTenYearCaojinyu.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 格式化代码
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加孙寒华 (#600)
  .github/Generals.md
  audio/skill/ExSunhanhua.ogg
  audio/skill/LuaChongxu1.ogg
  audio/skill/LuaChongxu2.ogg
  audio/skill/LuaLianhua1.ogg
  audio/skill/LuaLianhua2.ogg
  audio/skill/LuaMiaojian1.ogg
  audio/skill/LuaMiaojian2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExSunhanhua.png
  image/generals/card/ExSunhanhua.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 增加空行，避免 no newline at the end of file
  lang/zh_CN/Audio/ShieldPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 迫真护甲延时
  extensions/ShieldPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加谋华雄
  .github/Generals.md
  audio/skill/ExMouHuaxiong.ogg
  audio/skill/LuaMouYangwei1.ogg
  audio/skill/LuaMouYangwei2.ogg
  audio/skill/LuaMouYaowu1.ogg
  audio/skill/LuaMouYaowu2.ogg
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/ExMouHuaxiong.png
  image/generals/card/ExMouHuaxiong.jpg
  image/mark/@LuaWei.png
  lang/zh_CN/Audio/ShieldPackageLines.lua
  lang/zh_CN/Package/ShieldPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
