Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

feat: 添加神太史慈 (#570)
  audio/skill/ExShenTaishici.ogg
  audio/skill/LuaDulie1.ogg
  audio/skill/LuaDulie2.ogg
  audio/skill/LuaPowei1.ogg
  audio/skill/LuaPowei2.ogg
  audio/skill/LuaPowei3.ogg
  audio/skill/LuaShenzhu1.ogg
  audio/skill/LuaShenzhu2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExShenTaishici.png
  image/generals/card/ExShenTaishici.jpg
  image/mark/@LuaPowei.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 添加了大妖的语音包
  audio/skill/ExMouMachao.ogg
  audio/skill/ExShenSunce.ogg
  audio/skill/LuaFuhai1.ogg
  audio/skill/LuaFuhai2.ogg
  audio/skill/LuaMouTieji1.ogg
  audio/skill/LuaMouTieji2.ogg
  audio/skill/LuaMouTieji3.ogg
  audio/skill/LuaMouTieji4.ogg
  audio/skill/LuaPinghe1.ogg
  audio/skill/LuaPinghe2.ogg
  audio/skill/LuaYingba1.ogg
  audio/skill/LuaYingba2.ogg
  image/heroskin/audio/ExShenGuojia_1/death/ExShenguojia.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaHuishi2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaHuishiLimit1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaHuishiLimit2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/Luatianyi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/Luatianyi2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/Luazuoxing1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/Luazuoxing2.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 之前整歪了的内容
  image/heroskin/audio/ExShenGuojia_1/skill/LuaTianyi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaTianyi2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaZuoxing1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaZuoxing2.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix:神孙策死亡语音现在不再非正常死亡
  audio/skill/ExShenSunce.ogg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 删除多余的文件
  image/heroskin/audio/ExShenGuojia_1/skill/Luatianyi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/Luatianyi2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/Luazuoxing1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/Luazuoxing2.ogg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整【辉逝】文件、代码名称
  audio/skill/LuaLimitHuishi1.ogg
  audio/skill/LuaLimitHuishi2.ogg
  extensions/ExpansionPackage.lua
  image/heroskin/audio/ExShenGuojia_1/skill/LuaLimitHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaLimitHuishi2.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  image/mark/@LuaLimitHuishi.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 错别字修正
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加了大妖的语音包 (#574)
  audio/skill/ExMouMachao.ogg
  audio/skill/ExShenSunce.ogg
  audio/skill/LuaFuhai1.ogg
  audio/skill/LuaFuhai2.ogg
  audio/skill/LuaLimitHuishi1.ogg
  audio/skill/LuaLimitHuishi2.ogg
  audio/skill/LuaMouTieji1.ogg
  audio/skill/LuaMouTieji2.ogg
  audio/skill/LuaMouTieji3.ogg
  audio/skill/LuaMouTieji4.ogg
  audio/skill/LuaPinghe1.ogg
  audio/skill/LuaPinghe2.ogg
  audio/skill/LuaYingba1.ogg
  audio/skill/LuaYingba2.ogg
  extensions/ExpansionPackage.lua
  image/heroskin/audio/ExShenGuojia_1/death/ExShenguojia.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaHuishi2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaLimitHuishi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaLimitHuishi2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaTianyi1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaTianyi2.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaZuoxing1.ogg
  image/heroskin/audio/ExShenGuojia_1/skill/LuaZuoxing2.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  image/mark/@LuaLimitHuishi.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat:添加了神孙策的阳间皮肤
  image/heroskin/audio/ExShenSunce_1/skill/LuaFuhai1.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaFuhai2.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaPinghe1.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaPinghe2.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaYingba1.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaYingba2.ogg
  image/heroskin/fullskin/generals/full/ExShenSunce_1.png
  image/heroskin/generals/card/ExShenSunce_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 现在某黄忠的语音余阴绕梁，不绝于耳
  image/heroskin/audio/ExMouHuangzhong_1/skill/LuaLiegong1.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 【冲坚】可以使用属性杀
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat:添加了然↑然↓的皮肤
  image/heroskin/audio/ExShenSunce_1/death/ExShenSunce.ogg
  image/heroskin/audio/JieZhuran_1/death/JieZhuran.ogg
  image/heroskin/audio/JieZhuran_1/skill/LuaDanshou1.ogg
  image/heroskin/audio/JieZhuran_1/skill/LuaDanshou2.ogg
  image/heroskin/fullskin/generals/full/JieZhuran_1.png
  image/heroskin/generals/card/JieZhuran_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix:神太史慈语音音量增加，界朱然皮肤添加去除高频部分的语音可选，更接近原版（的垃圾音质）。
  audio/skill/ExShenTaishici.ogg
  audio/skill/LuaDulie1.ogg
  audio/skill/LuaDulie2.ogg
  audio/skill/LuaPowei1.ogg
  audio/skill/LuaPowei2.ogg
  audio/skill/LuaPowei3.ogg
  audio/skill/LuaShenzhu1.ogg
  audio/skill/LuaShenzhu2.ogg
  image/heroskin/audio/JieZhuran_1/death/朱然.ogg
  image/heroskin/audio/JieZhuran_1/skill/朱然特色1.ogg
  image/heroskin/audio/JieZhuran_1/skill/朱然特色2.ogg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加时代的红眼果蝇皮肤
  image/heroskin/audio/ExShenTaishici_1/death/ExShenTaishici.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaDulie1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaDulie2.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei2.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei3.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhu1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhu2.ogg
  image/heroskin/fullskin/generals/full/ExShenTaishici_1.png
  image/heroskin/generals/card/ExShenTaishici_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正【冲坚】无视防具问题
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【杀】类型选择
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整【破围】回复体力和标记技能发动顺序
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【却敌】可以拿装备牌的问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加神孙笨死亡语音
  image/heroskin/audio/ExShenSunce_1/death/ExShenSunce.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 就是刘晔
  image/heroskin/audio/JieZhuran_1/death/朱然.ogg
  image/heroskin/audio/JieZhuran_1/skill/朱然特色1.ogg
  image/heroskin/audio/JieZhuran_1/skill/朱然特色2.ogg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 阳间皮肤 (#577)
  audio/skill/ExShenTaishici.ogg
  audio/skill/LuaDulie1.ogg
  audio/skill/LuaDulie2.ogg
  audio/skill/LuaPowei1.ogg
  audio/skill/LuaPowei2.ogg
  audio/skill/LuaPowei3.ogg
  audio/skill/LuaShenzhu1.ogg
  audio/skill/LuaShenzhu2.ogg
  image/heroskin/audio/ExMouHuangzhong_1/skill/LuaLiegong1.ogg
  image/heroskin/audio/ExShenSunce_1/death/ExShenSunce.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaFuhai1.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaFuhai2.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaPinghe1.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaPinghe2.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaYingba1.ogg
  image/heroskin/audio/ExShenSunce_1/skill/LuaYingba2.ogg
  image/heroskin/audio/ExShenTaishici_1/death/ExShenTaishici.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaDulie1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaDulie2.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei2.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei3.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhu1.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhu2.ogg
  image/heroskin/audio/JieZhuran_1/death/JieZhuran.ogg
  image/heroskin/audio/JieZhuran_1/skill/LuaDanshou1.ogg
  image/heroskin/audio/JieZhuran_1/skill/LuaDanshou2.ogg
  image/heroskin/fullskin/generals/full/ExShenSunce_1.png
  image/heroskin/fullskin/generals/full/ExShenTaishici_1.png
  image/heroskin/fullskin/generals/full/JieZhuran_1.png
  image/heroskin/generals/card/ExShenSunce_1.jpg
  image/heroskin/generals/card/ExShenTaishici_1.jpg
  image/heroskin/generals/card/JieZhuran_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 文鸯与神太史慈相关修正 (#576)
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 燕人张飞在此
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei2.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhu2.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 燕人张飞在此 (#578)
  image/heroskin/audio/ExShenTaishici_1/skill/LuaPowei2.ogg
  image/heroskin/audio/ExShenTaishici_1/skill/LuaShenzhu2.ogg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 增加了开心曹昂和开心神曹操的皮肤
  .gitignore
  image/heroskin/audio/caoang_1/death/caoang.ogg
  image/heroskin/audio/caoang_1/skill/kangkai1.ogg
  image/heroskin/audio/caoang_1/skill/kangkai2.ogg
  image/heroskin/audio/shencaocao_2/death/shencaocao.ogg
  image/heroskin/audio/shencaocao_2/skill/guixin1.ogg
  image/heroskin/audio/shencaocao_2/skill/guixin2.ogg
  image/heroskin/fullskin/generals/full/caoang_1.png
  image/heroskin/fullskin/generals/full/shencaocao_2.png
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 神曹操和曹昂的武将卡
  image/heroskin/generals/card/caoang_1.jpg
  image/heroskin/generals/card/shencaocao_2 .jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 神曹操卡牌命名错误
  image/heroskin/generals/card/shencaocao_2.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

Delete shencaocao_2 .jpg
  image/heroskin/generals/card/shencaocao_2 .jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 增加了开心曹昂和开心神曹操的皮肤 (#580)
  .gitignore
  image/heroskin/audio/caoang_1/death/caoang.ogg
  image/heroskin/audio/caoang_1/skill/kangkai1.ogg
  image/heroskin/audio/caoang_1/skill/kangkai2.ogg
  image/heroskin/audio/shencaocao_2/death/shencaocao.ogg
  image/heroskin/audio/shencaocao_2/skill/guixin1.ogg
  image/heroskin/audio/shencaocao_2/skill/guixin2.ogg
  image/heroskin/fullskin/generals/full/caoang_1.png
  image/heroskin/fullskin/generals/full/shencaocao_2.png
  image/heroskin/generals/card/caoang_1.jpg
  image/heroskin/generals/card/shencaocao_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 让脑子不太好的人说话不那么大声，让审配更有精神
  audio/skill/ExShenpei.ogg
  audio/skill/LuaLiezhi1.ogg
  audio/skill/LuaLiezhi2.ogg
  audio/skill/LuaShouye1.ogg
  audio/skill/LuaShouye2.ogg
  image/heroskin/audio/ExShenXunyu_1/death/ExShenXunyu.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaDinghan1.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaDinghan2.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaLingce1.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaLingce2.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaTianzuo1.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaTianzuo2.ogg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 让脑子不太好的人说话不那么大声，让审配更有精神 (#581)
  audio/skill/ExShenpei.ogg
  audio/skill/LuaLiezhi1.ogg
  audio/skill/LuaLiezhi2.ogg
  audio/skill/LuaShouye1.ogg
  audio/skill/LuaShouye2.ogg
  image/heroskin/audio/ExShenXunyu_1/death/ExShenXunyu.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaDinghan1.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaDinghan2.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaLingce1.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaLingce2.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaTianzuo1.ogg
  image/heroskin/audio/ExShenXunyu_1/skill/LuaTianzuo2.ogg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 张翼 AI
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 张翼 AI (#584)
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【冲坚】等多卡牌选择问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【冲坚】等多卡牌选择问题 (#585)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 公孙康 AI 修正
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 公孙康 AI 修正 (#586)
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神荀彧在未启用扩展卡牌包时依然播放语音问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 整理武将名单
  .github/Generals.md
  README.md
Owners: @DZDcyj, @Rinkosanvsky
