Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

fix: 修正【骜肆】标记清理问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正谋孙策【激昂】多目标摸牌问题 (#797)
  extensions/ExpansionPackage.lua
  extensions/StrategicAttackTogetherPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正刘琦【屯江】跳过出牌阶段仍可以摸牌问题
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正刘琦【问计】 AI 不给牌问题
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除不需要的技能描述注释内容
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正不同类型【杀】不能【问计】的问题
  extensions/extra.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正刘琦相关问题 (#799)
  extensions/extra.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正司马徽【隐士】问题
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 追加司马徽语音
  .gitignore
  audio/skill/chenghao1.ogg
  audio/skill/chenghao2.ogg
  audio/skill/jianjie1.ogg
  audio/skill/jianjie2.ogg
  audio/skill/jianjie3.ogg
  audio/skill/simahui.ogg
  audio/skill/yinshi1.ogg
  audio/skill/yinshi2.ogg
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正司马徽【隐士】问题 (#805)
  .gitignore
  audio/skill/chenghao1.ogg
  audio/skill/chenghao2.ogg
  audio/skill/jianjie1.ogg
  audio/skill/jianjie2.ogg
  audio/skill/jianjie3.ogg
  audio/skill/simahui.ogg
  audio/skill/yinshi1.ogg
  audio/skill/yinshi2.ogg
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整文鸯【却敌】背水选项顺序
  extensions/LayingPlansCouragePackage.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 饿人类技能重做
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 增补文本
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整注释内容
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 文本补充
  extensions/extra.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 削弱饿人类
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

ci: 测试
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 更新打包流程
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 rm 命令
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整 rm 命令参数
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 合并发布流程，修正打包层级
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整打包层级
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正打包流程
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正打包
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正文件名不正确问题
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整打包层级
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 最终修正
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整【决斗】为无视防具距离的【杀】
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修改技能描述
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整文鸯【却敌】背水选项顺序 (#807)
  extensions/LayingPlansCouragePackage.lua
  extensions/extra.lua
  lang/zh_CN/Package/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

ci: 优化打包流程 (#809)
  .github/workflows/auto-release.yml
Owners: @DZDcyj, @Rinkosanvsky

fix: 饿人类技能重做 (#804)
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

test
  README.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整饿人类技能
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整饿人类技能 (#813)
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加承·关羽
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExChengguanyu.png
  image/generals/card/ExChengguanyu.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正“普通杀”问题
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正赵统赵广可以转换【无懈可击】问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正朱灵可以转换无懈可击问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加承·关羽 (#815)
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExChengguanyu.png
  image/generals/card/ExChengguanyu.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss
