Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正势太史慈和审配 AI 1、修正势太史慈 AI 默认选择战烈不弃牌问题 2、修正审配守邺发动 AI，默认队友用牌不发动
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正排序顺序
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整失去标记顺序
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正势太史慈和审配 AI (#972)
  extensions/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 势太史慈技能选择后提示增补
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 势太史慈技能选择后提示增补 (#974)
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正战烈选择提示发起人
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正战烈选择提示发起人 (#975)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正 Readme 安装部分，新增 CodeQL status badge 和 release badge
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 实际执行时的情况补充
  README.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 叫分后移除小于等于的叫分选项
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 .gitignore 语法
  .gitignore
Owners: @DZDcyj, @Rinkosanvsky

docs: README 中要求配置 git 仓库为大小写敏感
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正 Readme 安装部分，新增 badge 显示 (#977)
  .gitignore
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 调整 Readme 语序
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 调整 Readme 语序 (#981)
  README.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 追加 AI 叫分逻辑
  lua/ai/LandlordsPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 叫分后移除小于等于的叫分选项 (#980)
  extensions/LandlordsPackage.lua
  lua/ai/LandlordsPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 势太史慈“战烈”技能适配【朱雀羽扇】
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 将结构体属性修改步骤提前至构造函数传参
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 为“战烈”火【杀】添加动画效果
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 高览“峻攻”技能适配【朱雀羽扇】
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 饿人类“寻衅”技能适配【朱雀羽扇】
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 优化【朱雀羽扇】询问逻辑，适配原有出【杀】方式
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 index nil value 问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 饿人类“寻衅”技能适配【朱雀羽扇】 (#988)
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 高览“峻攻”技能适配【朱雀羽扇】 (#986)
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 优化“战烈”询问火【杀】方式
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整“战烈”询问方式，重构提取【朱雀羽扇】公共方法
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansCouragePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 势太史慈“战烈”技能适配【朱雀羽扇】 (#984)
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansCouragePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 武陆逊功能代码
  extensions/MartialTemplePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 文本补充与游戏表现修正
  .gitignore
  extensions/MartialTemplePackage.lua
  image/fullskin/generals/full/WuLuxun.png
  image/generals/card/WuLuxun.jpg
  lang/zh_CN/Package/MartialTemplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正“雄幕”不能正确处理装备区牌问题
  extensions/MartialTemplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

style: 修正静态代码检查问题
  extensions/MartialTemplePackage.lua
  lang/zh_CN/Package/MartialTemplePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

style: 回退部分格式修正
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 语音增补
  audio/skill/LuaRuxian1.ogg
  audio/skill/LuaRuxian2.ogg
  audio/skill/LuaXiongmu1.ogg
  audio/skill/LuaXiongmu2.ogg
  audio/skill/LuaZhangcai1.ogg
  audio/skill/LuaZhangcai2.ogg
  audio/skill/WuLuxun.ogg
  extensions/MartialTemplePackage.lua
  lang/zh_CN/Audio/MartialTemplePackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 武将列表增补
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加新武将武陆逊 (#990)
  .gitignore
  Generals.md
  audio/skill/LuaRuxian1.ogg
  audio/skill/LuaRuxian2.ogg
  audio/skill/LuaXiongmu1.ogg
  audio/skill/LuaXiongmu2.ogg
  audio/skill/LuaZhangcai1.ogg
  audio/skill/LuaZhangcai2.ogg
  audio/skill/WuLuxun.ogg
  extensions/MartialTemplePackage.lua
  image/fullskin/generals/full/WuLuxun.png
  image/generals/card/WuLuxun.jpg
  lang/zh_CN/Audio/MartialTemplePackageLines.lua
  lang/zh_CN/Package/MartialTemplePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 处理尽瘁图片大小
  .gitignore
  image/system/guanxing-box.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整为 7 格
  image/system/guanxing-box.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
