Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 代码格式化
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加鲍信 (#925)
  audio/skill/ExBaoxin.ogg
  audio/skill/LuaMutao1.ogg
  audio/skill/LuaMutao2.ogg
  audio/skill/LuaYimou1.ogg
  audio/skill/LuaYimou2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExBaoxin.png
  image/generals/card/ExBaoxin.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正毅谋 AI 与 Table 打乱起始下标错误问题
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正毅谋 AI 与 Table 打乱起始下标错误问题 (#927)
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: Readme 更新与 Lint
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 修正措辞
  README.md
Owners: @DZDcyj, @Rinkosanvsky

docs: Readme 更新与 Lint (#929)
  README.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 整肃增加即时失败判断逻辑
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除不必要对外暴露的接口
  extensions/StrategicAttackTogetherPackage.lua
  extensions/UniteEffortsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 协力增加即时成功判断逻辑
  extensions/UniteEffortsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 协力公共部分提取
  extensions/UniteEffortsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 公共部分提取
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 调整注释
  extensions/UniteEffortsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 协力增加即时成功判断逻辑 (#931)
  extensions/StrategicAttackTogetherPackage.lua
  extensions/UniteEffortsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 整肃增加即时失败判断逻辑 (#930)
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正参数传递颠倒导致的文本错误
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正参数传递颠倒导致的文本错误 (#933)
  extensions/RectificationPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat:添加鲍信牢大皮肤
  image/heroskin/audio/ExBaoxin_1/death/ExBaoxin.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaMutao1.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaMutao2.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaYimou1.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaYimou2.ogg
  image/heroskin/fullskin/generals/full/ExBaoxin_1.png
  image/heroskin/generals/card/ExBaoxin_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 调整杨彪“义争”按钮亮起条件
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整杨彪“义争”按钮亮起条件 (#937)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

Update image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat:添加鲍信牢大皮肤 (#938)
  image/heroskin/audio/ExBaoxin_1/death/ExBaoxin.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaMutao1.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaMutao2.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaYimou1.ogg
  image/heroskin/audio/ExBaoxin_1/skill/LuaYimou2.ogg
  image/heroskin/fullskin/generals/full/ExBaoxin_1.png
  image/heroskin/generals/card/ExBaoxin_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正界公孙瓒“义从”计算距离问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界公孙瓒“义从”计算距离问题 (#940)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 新皮肤 issue 模板
  .github/ISSUE_TEMPLATE/new_skin.md
Owners: @DZDcyj, @Rinkosanvsky

docs: 新皮肤 issue 模板 (#943)
  .github/ISSUE_TEMPLATE/new_skin.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 沮授【初冬观雪】皮肤
  .gitignore
  image/heroskin/audio/jvshou_2/death/jvshou.ogg
  image/heroskin/audio/jvshou_2/skill/jianying1.ogg
  image/heroskin/audio/jvshou_2/skill/jianying2.ogg
  image/heroskin/audio/jvshou_2/skill/shibei1.ogg
  image/heroskin/audio/jvshou_2/skill/shibei2.ogg
  image/heroskin/fullskin/generals/full/jvshou_2.png
  image/heroskin/generals/card/jvshou_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 替换沮授为 3 血
  image/heroskin/generals/card/jvshou_2.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加新武将界沮授
  audio/skill/JieJushou.ogg
  audio/skill/LuaJianying1.ogg
  audio/skill/LuaJianying2.ogg
  audio/skill/LuaJianying2.xmp
  audio/skill/LuaShibei1.ogg
  audio/skill/LuaShibei2.ogg
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/JieJushou.png
  image/generals/card/JieJushou.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 移除无用变量
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正使用牌判定类型
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除多余元数据文件
  audio/skill/LuaJianying2.xmp
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 沮授【初冬观雪】皮肤 (#944)
  .gitignore
  image/heroskin/audio/jvshou_2/death/jvshou.ogg
  image/heroskin/audio/jvshou_2/skill/jianying1.ogg
  image/heroskin/audio/jvshou_2/skill/jianying2.ogg
  image/heroskin/audio/jvshou_2/skill/shibei1.ogg
  image/heroskin/audio/jvshou_2/skill/shibei2.ogg
  image/heroskin/fullskin/generals/full/jvshou_2.png
  image/heroskin/generals/card/jvshou_2.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加新武将界沮授 (#946)
  audio/skill/JieJushou.ogg
  audio/skill/LuaJianying1.ogg
  audio/skill/LuaJianying2.ogg
  audio/skill/LuaShibei1.ogg
  audio/skill/LuaShibei2.ogg
  extensions/ExpansionPackage.lua
  extensions/ShieldPackage.lua
  image/fullskin/generals/full/JieJushou.png
  image/generals/card/JieJushou.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 界沮授【初冬观雪】皮肤
  image/heroskin/audio/JieJushou_1/death/JieJushou.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaJianying1.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaJianying2.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaShibei1.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaShibei2.ogg
  image/heroskin/fullskin/generals/full/JieJushou_1.png
  image/heroskin/generals/card/JieJushou_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 界沮授【初冬观雪】皮肤 (#947)
  image/heroskin/audio/JieJushou_1/death/JieJushou.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaJianying1.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaJianying2.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaShibei1.ogg
  image/heroskin/audio/JieJushou_1/skill/LuaShibei2.ogg
  image/heroskin/fullskin/generals/full/JieJushou_1.png
  image/heroskin/generals/card/JieJushou_1.jpg
  image/heroskin/lang/zh_CN/Audio/StandardGeneralPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 新增武将十周年曹嵩
  .gitignore
  extensions/GatheringHeroesXuzhouPackage.lua
  image/fullskin/generals/full/ExTenYearCaosong.png
  image/generals/card/ExTenYearCaosong.jpg
  image/mark/@LuaLiluGiveOut.png
  image/mark/@LuaTenYearYizheng.png
  lang/zh_CN/Package/GatheringHeroesXuzhouPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 增补武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正其他给牌技能可以触发增加体力上限的问题
  extensions/GatheringHeroesXuzhouPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 补充技能和死亡语音
  audio/skill/ExTenYearCaosong.ogg
  audio/skill/LuaLilu1.ogg
  audio/skill/LuaLilu2.ogg
  audio/skill/LuaTenYearYizheng1.ogg
  audio/skill/LuaTenYearYizheng2.ogg
  extensions/GatheringHeroesXuzhouPackage.lua
  lang/zh_CN/Audio/GatheringHeroesXuzhouPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
