Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 适配 8 格观星
  image/system/guanxing-box.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 武诸葛亮基础代码
  extensions/MartialTemplePackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 武将技能描述和图片资源
  image/fullskin/generals/full/WuZhugeliang.png
  image/generals/card/WuZhugeliang.jpg
  image/mark/@LuaRuxian-Invoked.png
  image/mark/@LuaRuxian.png
  image/mark/@LuaZhizhe.png
  lang/zh_CN/Package/MartialTemplePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 语音和文本增补
  audio/skill/LuaJincui1.ogg
  audio/skill/LuaJincui2.ogg
  audio/skill/LuaQingshi1.ogg
  audio/skill/LuaQingshi2.ogg
  audio/skill/LuaZhizhe1.ogg
  audio/skill/LuaZhizhe2.ogg
  audio/skill/WuZhugeliang.ogg
  extensions/MartialTemplePackage.lua
  lang/zh_CN/Audio/MartialTemplePackageLines.lua
  lang/zh_CN/Package/MartialTemplePackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 调整技能文本突出显示色
  lang/zh_CN/Package/ExpansionConfig.lua
  lua/config.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 要求必须本人使用或打出
  extensions/MartialTemplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 增补武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加新武将武诸葛亮 (#992)
  .gitignore
  Generals.md
  audio/skill/LuaJincui1.ogg
  audio/skill/LuaJincui2.ogg
  audio/skill/LuaQingshi1.ogg
  audio/skill/LuaQingshi2.ogg
  audio/skill/LuaZhizhe1.ogg
  audio/skill/LuaZhizhe2.ogg
  audio/skill/WuZhugeliang.ogg
  extensions/MartialTemplePackage.lua
  image/fullskin/generals/full/WuZhugeliang.png
  image/generals/card/WuZhugeliang.jpg
  image/mark/@LuaRuxian-Invoked.png
  image/mark/@LuaRuxian.png
  image/mark/@LuaZhizhe.png
  image/system/guanxing-box.png
  lang/zh_CN/Audio/MartialTemplePackageLines.lua
  lang/zh_CN/Package/ExpansionConfig.lua
  lang/zh_CN/Package/MartialTemplePackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/config.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正武诸葛亮“情势”令其他角色摸牌选项播放多次语音问题
  extensions/MartialTemplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正武诸葛亮“情势”令其他角色摸牌选项播放多次语音问题 (#994)
  extensions/MartialTemplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 手动规避“雄幕”【白银狮子】卸载不生效问题
  extensions/MartialTemplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 手动规避“雄幕”【白银狮子】卸载不生效问题 (#996)
  extensions/MartialTemplePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加武器【玄剑】
  .gitignore
  extensions/ExpansionCardPackage.lua
  image/big-card/xuanjian_sword.png
  image/card/xuanjian_sword.png
  image/equips/xuanjian_sword.png
  image/fullskin/small-equips/xuanjian_sword.png
  image/small-equips/xuanjian_sword.png
  lang/zh_CN/Package/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 修正静态代码检查问题
  extensions/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 选牌合法性增加共砺接口
  extensions/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移动【玄剑】到新的独立卡牌包
  .gitignore
  extensions/ExpansionCardPackage.lua
  extensions/OldFriendCardPackage.lua
  lang/zh_CN/Package/ExpansionCardPackage.lua
  lang/zh_CN/Package/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除无用引用
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 共砺接口实现
  extensions/OldFriendCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除扩展卡牌包改动
  extensions/ExpansionCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加武器【玄剑】 (#999)
  .gitignore
  extensions/OldFriendCardPackage.lua
  image/big-card/xuanjian_sword.png
  image/card/xuanjian_sword.png
  image/equips/xuanjian_sword.png
  image/fullskin/small-equips/xuanjian_sword.png
  image/small-equips/xuanjian_sword.png
  lang/zh_CN/Package/OldFriendCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 提取共砺公共接口方法
  extensions/GongliCommonMethod.lua
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除冗余引用
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

ci: LuaCheck 权限修正与 CI 失败场景测试
  .github/workflows/lua-check.yml
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

style: 移除多余空格
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整工作流组件版本
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整 JUnit Report 步骤名称
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 调整 JUnit Report 步骤名称
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

ci: 复原工作流名称
  .github/workflows/lua-check.yml
Owners: @DZDcyj, @Rinkosanvsky

refactor: 提取共砺公共接口方法 (#1001)
  .github/workflows/lua-check.yml
  extensions/GongliCommonMethod.lua
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 友徐庶功能代码
  extensions/OldFriendCardPackage.lua
  extensions/OldFriendPackage.lua
  lang/zh_CN/Package/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 追加图片资源
  image/fullskin/generals/full/YouXushu.png
  image/generals/card/YouXushu.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

docs: 增补武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正静态代码检查问题
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 技能语音增补与播放逻辑调整
  audio/skill/LuaQihui1.ogg
  audio/skill/LuaQihui2.ogg
  audio/skill/LuaQihui3.ogg
  audio/skill/LuaXiaxing1.ogg
  audio/skill/LuaXiaxing2.ogg
  audio/skill/LuaYouXushu_Gongli1.ogg
  audio/skill/LuaYouXushu_Gongli2.ogg
  audio/skill/YouXushu.ogg
  extensions/OldFriendPackage.lua
  lang/zh_CN/Audio/OldFriendPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 补充三种启诲标记图片
  image/mark/@LuaQihui-basic.png
  image/mark/@LuaQihui-equip.png
  image/mark/@LuaQihui-trick.png
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 优化失去所有标记情况的提示
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正标记获取和失去的逻辑
  extensions/OldFriendPackage.lua
  lang/zh_CN/Package/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加新武将友徐庶 (#1003)
  Generals.md
  audio/skill/LuaQihui1.ogg
  audio/skill/LuaQihui2.ogg
  audio/skill/LuaQihui3.ogg
  audio/skill/LuaXiaxing1.ogg
  audio/skill/LuaXiaxing2.ogg
  audio/skill/LuaYouXushu_Gongli1.ogg
  audio/skill/LuaYouXushu_Gongli2.ogg
  audio/skill/YouXushu.ogg
  extensions/OldFriendCardPackage.lua
  extensions/OldFriendPackage.lua
  image/fullskin/generals/full/YouXushu.png
  image/generals/card/YouXushu.jpg
  image/mark/@LuaQihui-basic.png
  image/mark/@LuaQihui-equip.png
  image/mark/@LuaQihui-trick.png
  lang/zh_CN/Audio/OldFriendPackageLines.lua
  lang/zh_CN/Package/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正“侠行”被重复获取【玄剑】问题
  extensions/OldFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【玄剑】不能响应要求使用【杀】场景问题
  extensions/OldFriendCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky
