Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

feat: 添加毛玠
  Generals.md
  audio/skill/ExMaojie.ogg
  audio/skill/LuaBingqing1.ogg
  audio/skill/LuaBingqing2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExMaojie.png
  image/generals/card/ExMaojie.jpg
  image/mark/@LuaBingqingClub-Clear.png
  image/mark/@LuaBingqingDiamond-Clear.png
  image/mark/@LuaBingqingHeart-Clear.png
  image/mark/@LuaBingqingSpade-Clear.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加毛玠 (#656)
  Generals.md
  audio/skill/ExMaojie.ogg
  audio/skill/LuaBingqing1.ogg
  audio/skill/LuaBingqing2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExMaojie.png
  image/generals/card/ExMaojie.jpg
  image/mark/@LuaBingqingClub-Clear.png
  image/mark/@LuaBingqingDiamond-Clear.png
  image/mark/@LuaBingqingHeart-Clear.png
  image/mark/@LuaBingqingSpade-Clear.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 神张飞代码
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 神张飞图片语音
  audio/skill/ExTenYearShenZhangfei.ogg
  audio/skill/LuaShencai1.ogg
  audio/skill/LuaShencai2.ogg
  audio/skill/LuaXunshi1.ogg
  audio/skill/LuaXunshi2.ogg
  image/fullskin/generals/full/ExTenYearShenZhangfei.png
  image/generals/card/ExTenYearShenZhangfei.jpg
  image/mark/@LuaShencai-Chi.png
  image/mark/@LuaShencai-Death.png
  image/mark/@LuaShencai-Liu.png
  image/mark/@LuaShencai-Tu.png
  image/mark/@LuaShencai-Zhang.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正毛玠【秉清】多阶段发动问题
  extensions/ExpansionPackage.lua
  image/mark/@LuaBingqingClub_biu.png
  image/mark/@LuaBingqingDiamond_biu.png
  image/mark/@LuaBingqingHeart_biu.png
  image/mark/@LuaBingqingSpade_biu.png
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移除冗余变量
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【守邺】对青钢标记的处理
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【守邺】对青钢标记的处理 (#659)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 格式化代码
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【神裁】误判
  extensions/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加神张飞 (#657)
  Generals.md
  audio/skill/ExTenYearShenZhangfei.ogg
  audio/skill/LuaShencai1.ogg
  audio/skill/LuaShencai2.ogg
  audio/skill/LuaXunshi1.ogg
  audio/skill/LuaXunshi2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExTenYearShenZhangfei.png
  image/generals/card/ExTenYearShenZhangfei.jpg
  image/mark/@LuaBingqingClub_biu.png
  image/mark/@LuaBingqingDiamond_biu.png
  image/mark/@LuaBingqingHeart_biu.png
  image/mark/@LuaBingqingSpade_biu.png
  image/mark/@LuaShencai-Chi.png
  image/mark/@LuaShencai-Death.png
  image/mark/@LuaShencai-Liu.png
  image/mark/@LuaShencai-Tu.png
  image/mark/@LuaShencai-Zhang.png
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正神郭嘉【佐幸】 AI 抽风问题
  lua/ai/LayingPlansWisdomPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神郭嘉【佐幸】 AI 抽风问题 (#660)
  lua/ai/LayingPlansWisdomPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 扩展武将包修正
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加神姜维
  .gitignore
  extensions/DevineForcePackage.lua
  image/fullskin/generals/full/ExTenYearShenJiangwei.png
  image/generals/card/ExTenYearShenJiangwei.jpg
  image/mark/@LuaJiufa.png
  image/mark/@LuaPingxiang.png
  image/mark/@LuaTianren.png
  lang/zh_CN/Package/DevineForcePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 语音台词
  audio/skill/ExTenYearShenJiangwei.ogg
  audio/skill/LuaJiufa1.ogg
  audio/skill/LuaJiufa2.ogg
  audio/skill/LuaPingxiang1.ogg
  audio/skill/LuaPingxiang2.ogg
  audio/skill/LuaTianren1.ogg
  audio/skill/LuaTianren2.ogg
  extensions/DevineForcePackage.lua
  lang/zh_CN/Audio/DevineForcePackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

feat: 添加神姜维 (#662)
  .gitignore
  audio/skill/ExTenYearShenJiangwei.ogg
  audio/skill/LuaJiufa1.ogg
  audio/skill/LuaJiufa2.ogg
  audio/skill/LuaPingxiang1.ogg
  audio/skill/LuaPingxiang2.ogg
  audio/skill/LuaTianren1.ogg
  audio/skill/LuaTianren2.ogg
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExTenYearShenJiangwei.png
  image/generals/card/ExTenYearShenJiangwei.jpg
  image/mark/@LuaJiufa.png
  image/mark/@LuaPingxiang.png
  image/mark/@LuaTianren.png
  lang/zh_CN/Audio/DevineForcePackageLines.lua
  lang/zh_CN/Package/DevineForcePackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正技能卡判断
  extensions/DevineForcePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 扩展包重构
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LandlordsPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移动神张飞
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  lang/zh_CN/Audio/DevineForcePackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/DevineForcePackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 更新武将名单
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 移动神张飞 (#663)
  Generals.md
  extensions/DevineForcePackage.lua
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LandlordsPackage.lua
  lang/zh_CN/Audio/DevineForcePackageLines.lua
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/DevineForcePackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lang/zh_CN/Package/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正文本缺失
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正文本缺失 (#664)
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【九伐】类型判断问题
  extensions/DevineForcePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【九伐】类型判断问题 (#665)
  extensions/DevineForcePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 部分重构
  extensions/DevineForcePackage.lua
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

refactor: 群友包 can_trigger 重构
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加砂糖
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正时机判断，调整【先登】为初始进行回合，修正轮数与【支援】选项
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat:添加砂糖武酱牌
  image/fullskin/generals/full/Shatang.png
  image/generals/card/Shatang.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正 AI 仇恨值判断
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/GroupFriendPackage-ai.lua
  lua/ai/LayingPlansWisdomPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加砂糖 (#667)
  extensions/DevineForcePackage.lua
  extensions/GroupFriendPackage.lua
  image/fullskin/generals/full/Shatang.png
  image/generals/card/Shatang.jpg
  lang/zh_CN/Package/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
  lua/ai/GroupFriendPackage-ai.lua
  lua/ai/LayingPlansWisdomPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 大佬酱基础代码
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 优化文本提示
  extensions/GroupFriendPackage.lua
  lang/zh_CN/Package/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正技能发动信息
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 优化动画效果
  extensions/GroupFriendPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

docs: 更新武将列表
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

feat: 图片资源
  image/fullskin/generals/full/Dalaojiang.png
  image/generals/card/Dalaojiang.jpg
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky
