Repository DZDcyj/QSGS-v2-Lua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @DZDcyj @Rinkosanvsky

# When localisation files are changed, these people will be requested to review as a codeowner
/audio @Cactusssssssss @DZDcyj @Rinkosanvsky
/image @Cactusssssssss @DZDcyj @Rinkosanvsky
/lang @Cactusssssssss @DZDcyj @Rinkosanvsky

fix: 修正斗地主角色当前【回合开始时】技能未触发问题 (#862)
  extensions/LandlordsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正简单的 AI 判定 马元义兵祸 天雷刃
  extensions/ExpansionPackage.lua
  extensions/PuyuanEquipCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正简单的 AI 判定 (#865)
  extensions/ExpansionPackage.lua
  extensions/PuyuanEquipCardPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 承·关羽【冠绝】标记
  extensions/CountryAsBeforeElucidationPackage.lua
  image/mark/@LuaGuanjue-Club-Clear.png
  image/mark/@LuaGuanjue-Diamond-Clear.png
  image/mark/@LuaGuanjue-Heart-Clear.png
  image/mark/@LuaGuanjue-Spade-Clear.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 承·关羽【冠绝】标记 (#868)
  extensions/CountryAsBeforeElucidationPackage.lua
  image/mark/@LuaGuanjue-Club-Clear.png
  image/mark/@LuaGuanjue-Diamond-Clear.png
  image/mark/@LuaGuanjue-Heart-Clear.png
  image/mark/@LuaGuanjue-Spade-Clear.png
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 移除多余分号
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/PuyuanEquipCardPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加起·孙坚
  extensions/CountryAsBeforeIntroductionPackage.lua
  image/fullskin/generals/full/ExQiSunjian.png
  image/generals/card/ExQiSunjian.jpg
  lang/zh_CN/Package/CountryAsBeforeIntroductionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

docs: 武将列表更新
  Generals.md
Owners: @DZDcyj, @Rinkosanvsky

refactor: 修正变量遮蔽问题
  extensions/CountryAsBeforeIntroductionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加转·马超
  Generals.md
  extensions/CountryAsBeforeTransitionPackage.lua
  image/fullskin/generals/full/ExZhuanMachao.png
  image/generals/card/ExZhuanMachao.jpg
  lang/zh_CN/Package/CountryAsBeforeTransitionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整【让节】语音播放和技能文字提示
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整【让节】语音播放和技能文字提示 (#872)
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加起·孙坚 (#869)
  Generals.md
  extensions/CountryAsBeforeIntroductionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansCouragePackage.lua
  extensions/LayingPlansSincerityPackage.lua
  extensions/PuyuanEquipCardPackage.lua
  image/fullskin/generals/full/ExQiSunjian.png
  image/generals/card/ExQiSunjian.jpg
  lang/zh_CN/Package/CountryAsBeforeIntroductionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

feat: 添加转·马超 (#870)
  Generals.md
  extensions/CountryAsBeforeTransitionPackage.lua
  image/fullskin/generals/full/ExZhuanMachao.png
  image/generals/card/ExZhuanMachao.jpg
  lang/zh_CN/Package/CountryAsBeforeTransitionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

refactor: 格式化代码
  extensions/LayingPlansCouragePackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正定品与会弃置牌 AI
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界陈群【定品】AI (#874)
  extensions/LayingPlansCouragePackage.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 调整马良【自书】弃牌时机与标记清理时机
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正【破军】获得牌时机
  extensions/ExpansionPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整马良技能描述
  lang/zh_CN/Package/ExpansionPackage.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

fix: 修正界钟会【排异】为出牌阶段限一次
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正 OL 张翼【殿军】多次触发【出牌阶段结束时】时机问题
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正判断条件
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正神郭嘉【佐幸】为出牌阶段限一次
  extensions/LayingPlansWisdomPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 系列武将技能调整 (#878)
  extensions/ExpansionPackage.lua
  extensions/GroupFriendPackage.lua
  extensions/LayingPlansWisdomPackage.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正界钟会 AI
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正界钟会 AI (#881)
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正起·刘备【振鞘】问题
  extensions/CountryAsBeforeIntroductionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正起·刘备【振鞘】问题 (#882)
  extensions/CountryAsBeforeIntroductionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加曹髦
  Generals.md
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExTenYearCaomao.png
  image/generals/card/ExTenYearCaomao.jpg
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 调整【潜龙】为不需要全拿完
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正全拿后额外点击确认问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 语音资源和台词文本
  audio/skill/ExTenYearCaomao.ogg
  audio/skill/LuaFensi1.ogg
  audio/skill/LuaFensi2.ogg
  audio/skill/LuaJuetao1.ogg
  audio/skill/LuaJuetao2.ogg
  audio/skill/LuaQianlong1.ogg
  audio/skill/LuaQianlong2.ogg
  audio/skill/LuaZhushi1.ogg
  audio/skill/LuaZhushi2.ogg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
Owners: @Cactusssssssss, @DZDcyj, @Rinkosanvsky

refactor: 移除无用变量
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正死亡角色用杀问题
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 修正用杀判断
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

fix: 简要修正决讨是否可以使用牌的判断
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

Revert "fix: 简要修正决讨是否可以使用牌的判断"
  extensions/ExpansionPackage.lua
Owners: @DZDcyj, @Rinkosanvsky

feat: 添加曹髦 (#876)
  Generals.md
  audio/skill/ExTenYearCaomao.ogg
  audio/skill/LuaFensi1.ogg
  audio/skill/LuaFensi2.ogg
  audio/skill/LuaJuetao1.ogg
  audio/skill/LuaJuetao2.ogg
  audio/skill/LuaQianlong1.ogg
  audio/skill/LuaQianlong2.ogg
  audio/skill/LuaZhushi1.ogg
  audio/skill/LuaZhushi2.ogg
  extensions/ExpansionPackage.lua
  image/fullskin/generals/full/ExTenYearCaomao.png
  image/generals/card/ExTenYearCaomao.jpg
  lang/zh_CN/Audio/ExpansionPackageLines.lua
  lang/zh_CN/Package/ExpansionPackage.lua
  lua/QSanguoshaLuaFunction.lua
  lua/ai/ExpansionPackage-ai.lua
Owners: @DZDcyj, @Rinkosanvsky, @Cactusssssssss

fix: 修正十周年留赞【力激】不能弃置装备牌的问题
  extensions/BraveWarriorsPackage.lua
Owners: @DZDcyj, @Rinkosanvsky
